@import '~@assets/Colors.less';
@import '~@assets/Colors.less';
// .menu{
//     margin-left: .1em
// }
// .cat{
//     margin-left: .2em
// }
// .items{
//     margin-left: .3em
// }
.table{
    width: 100%;
    th{
        font-weight: 100;
        font-family: Lora;
        font-size: 0.8em;
        text-align: left;
        color: @RegularBlack;
        &:nth-child(1){
          width:60%;
          text-align: center;
        }
        &:nth-child(2){
            width:11%;

          }
        
    }
    tbody{
        tr{
        width: 100%;
        .depName{ 
            font-family: Lora;
            font-size: 1.9em;
            text-align: left;
            color: @RegularBlack;
            font-weight: 100px;
        }
        td{
            font-family:Tahoma;
            font-size: 0.8em;
            color: @RegularBlack;
            // text-align: center;

            &:nth-child(1){
                width:60%;
                font-family: Lora;
            }
            &:nth-child(3){
                text-align: left;
            }
        }
    }
    }
  
}