.app_body{
    display: flex;
    justify-content: space-between;
    height: 91.7%;
}

.popup {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
  width: 45%;
}