@import '~@assets/Colors.less';

.container{
    height: 91.7%;
    padding: 3% 2% 2.5% 2%;
    margin: 0;

    .inner{
        background-color: #ffffff;
        height: 100%;
        padding: 5% 6%;
    }
}