form{
  height: 91%;
  .modDiv{
      height: 96%;
      .cat{
        display: flex;
        flex-direction: row;
        height: 90%;
      }
      .btnContainer {
        height: 15%;
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 2% 2%;
        .back {
          width: 23vw;
          background-color: #b7b7b7;
        }
        .next {
          font-weight: bold;
          width: 35vw;
          background-color: #3176cb;
        }
        
      button {
          text-align: center;
          color: white;
          border-radius: 2.5px;  
          // height: 8vw;
          box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
          padding: 0.5%;
        }
        .back:hover,.next:hover {
          background-color: #3176cb;
        }
      }
      
    }
}