@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.container {
    align-content  : right;
    align-items    : right; 
}

.new_button {
    .FontSettings(0.9vw, @fontSubcolor);
    border          : 0.5px solid @fontSubcolor;
    background-color: #fefefe;
    color           : @fontMainColor;
    width           : 25%;
    height          : 2vw;
    border-Radius   : 3.5px;
    opacity         : 0.8;
    font-Size       : 0.9vw;
    line-Height     : 1.24;
    letter-Spacing  : normal;
    text-Align      : center;
    margin          : 1% 2%;
    margin-Left     : 0;
    cursor          : pointer;
    float           : right;
    white-Space     : nowrap;
}
