.Text {
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  color: black;
}

.textContainer {
  margin-top: 10vw;
  margin-bottom: 3vw;
}

.turnContainer {
  width: 80%;
  margin: auto;
  padding: 10vw;
  border-radius: 10px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  background-image: url("../../assets/images/logo_transparent2.png");
  background-repeat: no-repeat;
  background-position-x: 20vw;
  background-position-y: 10vw;
  background-size: 50vw;
}

.Turn {
  font-size: 20vw;
  color: black;
  text-align: center;
  margin-top: 10vw;
  font-weight: 900;
}

.Pink {
  height: 2vw;
  margin: auto;
  border-radius: 50px;
  background-color: #d73f7c;
  margin-bottom: 7vw;
  margin-top: 10vw;
}

.Purple {
  width: 70%;
  height: 1.5vw;
  margin: auto;
  border-radius: 50px;
  background-color: #8574f0;
  margin-bottom: 5vw;
}

.bonAppetit {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: #3176cb;
  padding-top: 5vw;
  text-align: center;
  font-size: 5vw;
  color: white;
}
