@import '~@assets/Colors.less';
.a_container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .addnew{
        align-items: center;
        margin: 24px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        
    }
    p{
        margin: 0;
        margin-bottom: 0;
    }
    button{
        padding: 2vh 0;
        margin: 1vh 0;
        justify-content: center;
        width: 50%;
        display: flex;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        border: solid 0.5px #e1e1e1;
        background-color: #ffffff;
        outline: none;
        border-radius: 8px;
       
    }
}
.sp_container{
    justify-content: space-around;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 10% 0;
    margin: 0 0;
    flex-wrap: wrap;
    .sp_button{
        p{
            margin: 0;
            margin-bottom: 0;
            font-size: 1.5rem;
            padding: 10% 0%;
            color: @forgetPassMsg;
            text-align: center;
        }
        width: 40%;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        border: solid 0.5px #e1e1e1;
        background-color: #ffffff;
        margin: 2vh 0;
    }
}