@import '~@assets/Colors.less';

.header{
    height: 10%;
    display: flex;
    justify-content: space-between;

    p{
        align-self: center;
        font-size: 2vh;
        margin: 0;
        color: @RegularBlack;
        
        font-weight: 600;
    }

    #time{
        font-weight: bold;
        color: @mainColor;
    }
}