@import '~@assets/Colors.less';
.paging{
    display: flex;
    height: 4.5vh;
    width: 14vw;
    p{
        margin: 0;
        text-align: center;
        
        font-size: 0.8rem;
        color: #4c4b4b;
        align-self: center;
        margin: 0% 2.9%;
    }

    button{
        border-radius: 5vw;
        color: @mainColor;
        background-color: @WhiteBG;
        width: 3.5vw;
        box-shadow: 0 0 2px 0 rgba(199, 190, 190, 0.5);
        border: solid 0.5px @GrayBorder;
        // padding: 5%;
        outline: none;
        height: 4.5vh;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}