@import '~@assets/Colors.less';
form{
    height: fit-content;
    .form{
        background-color: @WhiteBG;
        padding: 2%;
        height: 95%;
        margin: 0% 2%;
        border-radius: 1vw;
        border-radius: 7.5px;
        border: solid 0.3px rgba(112, 112, 112, 0.4);
        .containerit{
            display: flex;
            justify-content: space-between;
            padding: 2% 12% 0% 2%;

            .left{
                display: flex;
                flex-direction: column;
                min-width: 52%;
                .footer{
                    display: flex;
                    justify-content: space-between;
                    .note{
                        width: 5vw;
                        div{
                            button{
                                box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
                                border: solid 0.5px rgba(179, 176, 176, 0.34);
                                border-radius: 5vw;
                                min-width: 3vw;
                                min-height: 2.5vw;
                                color: @mainColor;
                                background-color: @WhiteBG;
                                font-size: 1.2rem;
                                padding: 0;
                                width: 5vw;
                            }
                        }
                    }
                    button{
                        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
                        border: solid 0.5px rgba(179, 176, 176, 0.34);
                        border-radius: 5vw;
                        width: 26%;
                        background-color:@WhiteBG;
                        
                        font-size: 1rem;
                        font-weight: bold;
                        color: @RegularBlack;
                        &:focus{
                            outline: 0
                        }
                        &:nth-child(3){
                            background-image: linear-gradient(to bottom, @linerBackgroun1, @linerBackgroun2);
                        }
                        &:nth-child(4){
                            color: @WhiteBG;
                            background-color: @mainColor
                        }
                        


                    }
                }
            
            }
            .numPad{
                padding-top: 2vw;

                div{

                    display: grid;
                    grid-template:'. . .''. . .''. . .''. . .';
                    grid-gap: 2%;
                }
            
            }


        }
    }
}