.error{
    color: #d73f7c;
    font-weight: bold;
    
    font-size: 1.7rem;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vw;
 }