.invContainer{
    align-items: center;
    justify-content: center;
    height: 53%;
    margin: 0 auto;
}


.headTip{
    display: flex;
    justify-content: center;
    margin-right: 7%;
    /* align-items: initial; */
    /* height: 25%; */
    margin-top: 4%;
    margin-bottom: 3%;

}
.headTip label{
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 7%;
}
.InvoiceOptions{
    height: 60%;
    align-content: center;
    justify-content: center;

}