@import '~@assets/Colors.less';
.timepick{
    div{
        width: 100%;
        // height: 100%;
        color:  @forgetPassMsg;
        background-color: @WhiteBG;
        
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        text-align: center;


    }
    label{
        
        font-size: 1rem;
        font-weight: bold;
        color: @fontMainColor;
    }

        input{
            border-radius: 2.5px;
            border: 1px solid @listBackButtonBorder;

            color:  @forgetPassMsg;

            
        }          
}