.row{
    display: flex;
    width:100%;
//     p{

//   
//   font-size: 1.1rem;
//   text-align: center;
//   color: #000000;
//     }
}
.rowFields{
    display: flex;
    width: 100%;

    p{
        padding-left: 2%;
        min-width: 19.5%;
        
        font-size: 2vh;
        /* text-align: center; */
        color: #000000;
    }
    button{
        border-radius: 50%;
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: 1px solid #eeecec;
        color: #e33f41;
        font-size: 2.5vh;
        font-weight: bold;
        width: 30px;
        height: 30px;
        align-self: center;
        /* margin-bottom: -2%; */
        text-align: center;
    }
}