.header {
  margin-top: 10vw;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 5vw;
}

.empty {
  text-align: center;
  margin-top: 40%;
}

.chargesHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.chargesEach,
.chargesTotal {
  display: flex;
  flex-direction: column;
}

.chargesContainer {
  font-weight: bold;
  color: black;
}

.totalHeader,
.subHeaders {
  text-align: left;
}

.totalCharge,
.subCharges {
  text-align: right;
  float: right;
}

.subHeaders,
.subCharges {
  font-size: 4vw;
  display: inline;
}

.totalHeader,
.totalCharge {
  font-size: 5vw;
  display: inline;
}

.btnContainer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 12%;
  background-color: white;
  padding: 3vw;
  padding-left: 6vw;
  padding-right: 0vw;
}

.back {
  margin-right: 15vw;
}

.back,
.next {
  width: 37vw;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: #b7b7b7;
  height: 11vw;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  padding: 2vw;
}

.back:active,
.next:active,
.back:hover,
.next:hover {
  background-color: #3176cb;
}
