.header {
  margin-top: 10vw;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 5vw;
}

.empty {
  text-align: center;
  margin-top: 40%;
}

.chargesHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  padding: 3vw;
  color: black;
}
.chargesEach {
  display: flex;
  flex-direction: column;
  margin: 0 2vw;
}

.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 2vw;
  padding-bottom: 5vw;
  border-bottom: solid 1px #b7b7b7;
  color: black;
  margin-top: 2%;
}

.editImg {
  width: 10px;
  height: 10px;
}

.qtn,
.showMore,
.miniBtn {
  width: 22.5px;
  height: 22.5px;
  border-radius: 5px;
  background-color: #b7b7b7;
  box-shadow: 0 0 0;
  text-align: center;
  color: white;
  margin-left: 2vw;
}

.showMore {
  margin-left: 5vw;
  margin-right: 2vw;
}

.qtn {
  margin-right: 3vw;
}

.each,
.total {
  text-align: black;
  margin: 1vw;
}

.total {
  margin-left: 4.5vw;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 13%;
}

.chargesContainer {
  font-weight: bold;
  color: black;
}

.totalHeader,
.subHeaders {
  text-align: left;
}

.totalCharge,
.subCharges {
  text-align: right;
  float: right;
}

.subHeaders,
.subCharges {
  font-size: 4vw;
  display: inline;
}

.totalHeader,
.totalCharge {
  font-size: 5vw;
  display: inline;
}

.btnContainer {
  height: 15%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
 
  .back {
    width: 40vw;
    background-color: #b7b7b7;
  }
  
  .next {
    font-weight: bold;
    width: 40vw;
    background-color: #3176cb;
  }
  
  .back,
  .next {
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 8vw;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  }
  .back:hover,.next:hover {
    background-color: #3176cb;
  }
}
.devContainer{
  display: flex;
  flex-direction: column;
  height: 22%;
}
.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:  0 10px;
}
.text{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.textBold{
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.items{
  display: flex;
  width: 75%;
}
.itemPrice {
  flex-direction: row;
    width: 22%;
    display: flex;
    margin: 0 2vw;
}
.container{
  height: 87%;
}
.orderContainer{
  height: 55%;
  overflow: scroll;
}