@import '~@assets/Colors.less';

.header{
    height: 6%;
    display: flex;
    justify-content: space-around;

    P{
        align-self: center;
        margin: 0;
        font-size: 2vh;
        
        font-weight: 600;
        color: #000000;
    }
}