@import '~@assets/Colors.less';
.all{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
.title{

    
    font-size: 1.2rem;
    font-weight: bold;
    color: @RegularBlack;
    text-align: center;
    margin: 0%;
    padding-top: 10%;

}
.msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 6%;
    .first{
        
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-bottom: 10%;
    }
    .second{
        
        font-size: 1rem;
        font-weight: bold;
        color: @RegularBlack;
        text-align: center;
        margin: 0%;
        padding-top: 2%;
    }



}
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cancel{
    border-radius: 5px;
    width: 50%;
    height: 100%;
    background-color: #306ab2;
    border: 0;
    padding: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-left: 5%;
}

.submit{
    border-radius: 5px;
    width: 50%;
    height: 100%;
    background-color: #b7b7b7;
    color: white;
    border: 0;
    padding: 8px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    
}

// .last{

//     width: 80%;
//     padding: 0% 6% 5% 27%;
//     display: flex;
//     justify-content: space-between;

//       button{
//         box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
//         border: solid 0.5px rgba(179, 176, 176, 0.34);
//         border-radius: 5vw;
//         padding: 3%;
//         width: 41%;
//         &:focus{
//             outline: 0
//         }
//     }
//     button[type="submit"]{
//         color: @WhiteBG;
//         background:   @mainColor;
//     }
//     button[type="button"]{
//         color: #090505;
//         font-weight: 600;
//         box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
//         border: solid 0.5px rgba(179, 176, 176, 0.34);
//         background-image: linear-gradient(to bottom, #f3f0f0, #ebe9e9);
//     }
// }
}