@import '~@assets/Colors.less';

.packgroup_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #959aa9;
  background-color: #f0f7ff;
  max-height: 30vh;
  overflow-y: auto;
}