@import '~@assets/Colors.less';

.container{
    height: 88vh;
    width: 95%;
    margin: 0 auto;
    background-color: @WhiteBG;
    border-radius: 3.5px;
    box-shadow: 0 1.5px 3px 0 rgba(199, 190, 190, 0.5);
    border: 1px solid @GrayBorder;
    margin-top: 2vh;
    padding: 0% 1%;
    .tabs{
        padding: 0% 2%;
        display: flex;
        flex-wrap: wrap;
       
    }

}