.modfcont{
    display: flex;
    flex-direction: column;
    width: 100%;
    .note{
      margin-left: 11%;
    }
    .flex{
      display: flex;
      width: 100%;
      .modfir{
      width:71%;
      display: flex;
      margin-left: 10%;
      }
      .et{ 
        width: 10%;
      }
      .cancel {
      width: 22.5px;
      height: 22.5px;
      border-radius: 5px;
      background-color: #b7b7b7;
      box-shadow: 0 0 0;
      text-align: center;
      color: white;
      margin: 0 1%;
      padding: 0%;
      .editImg {
          width: 10px;
          height: 10px;
        }
      }    
    }
  }