@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.label{
  .FontSettings(1vw,@fontSubcolor);
  padding: 1% 0;
  font-size: 1vw;
}

.options{
  .FontSettings(1vw,@fontSubcolor);
  font-size: 1vw;
}