@import '~@assets/Colors.less';

.selectdiv{
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    height: auto;
    
        div{
            width: 50%;
            align-self: center;
            div{
                width: 100%;
                div{
                    width: 100%;
                    height: 5vh;

                }
            }
        }
    
}
