@import '~@assets/Colors.less';

.cat_popup {
    position: relative;
    display: inline-block;
}

.subcat_row{
    height: 8%;
    width: 94%;


    .sub_active{
        width: 20%;
        height: 100%;
        background:  #ffffff;
        color: @mainColor;
        border-bottom: 5px solid @mainColor;
        outline: none;
        border-right: #ffffff;
        border-left: #ffffff;
        border-top: #ffffff;
        box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.22);
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }

    .sub{
        background:  #ffffff;
        width: 20%;
        height: 100%;
        border-right: #ffffff;
        border-left: #ffffff;
        border-top: #ffffff;
        border-bottom: 5px solid #ffffff;
        box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.22);
        color: #888888;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;

        &:focus{
            color: @mainColor;
            border-bottom: 5px solid @mainColor;
            outline: none;
        }

        .icon{
            color: @mainColor;
            font-size: 1.5rem;
        }
    }
}
