.allContainer{
  height: 94%;
  background-color: white;
  border-radius: 5px;
  padding: 3%;
  margin: 2%;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  .stContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 62%;
    .title {
      text-align: center;
      font-weight: bold;
      color: black;
      font-size: 1.5rem;
    }
    .description {
      color: black;
      font-size: 1.5rem;
   }
    .sizeContainer{
      align-self: flex-start;
      padding: 7% 3%;

      .select {
          color: black;
          font-weight: bold;
          font-size: 1.5rem;
        }
      .prices{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .priceContainer {
          width: 15vw;
          height: 10vh;
          color: #949393;
          background-color: white;
          font-weight: bold;
          margin-right: 7vw;
          border-radius: 2.5px;
          box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.09);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border: 0;
          align-items: center;
        }
        .priceContainer:hover,
        .priceContainer:active {
          border-radius: 3px;
          border: solid 0.8px #d73f7c;
          color: #d73f7c;
          font-weight: bold;
        }

      }
        
    }
  }
  .devContainer {
    /* top: 60%; */
    height: 24%;
    justify-content: flex-start;
    border-radius: 15px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #f3f8ff;
    padding: 2% 3%;
    margin-top: 18px;
    margin-bottom: 3px;


    .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0%;
      font-size: 1.5rem;
      color: black;
      font-weight: bold;
      p {
        font-size: 1.2rem;
        color: black;
        margin: 0%;
      }
    }
    .summary{

      .stdiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
      
      .devicons{
        display: flex;
        flex-direction: row;
        .editImg {
          width: 12px;
          height: 15px;
        }
        .miniBtn {
          width: 22.5px;
          height: 22.5px;
          border-radius: 5px;
          background-color: #b7b7b7;
          text-align: center;
          color: white;
          margin-right: 2vw;
        }
      }
      p{
        color: black;
        margin: 0;
      
      }
    }

    }
    
  }
  .btnContainer {
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back {
      width: 23vw;
      background-color: #b7b7b7;
    }
    .next {
      font-weight: bold;
      width: 43vw;

      background-color: #3176cb;
    }
    
    .back,
    .next {
      text-align: center;
      color: white;
      border-radius: 5px;
      height: 8vw;
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    }
    .back:hover,.next:hover {
      background-color: #3176cb;
    }
  }
}
.devContainer {
  /* top: 60%; */
  height: 23%;
  justify-content: flex-start;
  border-radius: 15px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #f3f8ff;
  padding: 2% 3%;
  margin: 2%;

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    p {
      font-size: 1.2rem;
      color: black;
      margin: 0%;
    }
  }
  .summary{

    .stdiv{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1% 0%;
    
    .devicons{
      display: flex;
      flex-direction: row;
      .editImg {
        width: 12px;
        height: 15px;
      }
      .miniBtn {
        width: 22.5px;
        height: 22.5px;
        border-radius: 5px;
        background-color: #b7b7b7;
        text-align: center;
        color: white;
        margin-right: 2vw;
      }
    }
    p{
      color: black;
      margin: 0;
    
    }
  }

  }
  
}
.flexContainer{
  display: flex;
  flex-direction: column;
}

