.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 70%;
  margin: auto;
  margin-top: 5vw;
  padding: 3vw;
}

.title {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 5vw;
}

.image {
  width: 35vw;
  height: 30vw;
  margin-left: 30%;
}

.description {
  color: black;
  padding-left: 7vw;
}

.select {
  color: black;
  font-weight: bold;
  font-size: 5vw;
  padding-left: 7vw;
  padding-top: 11vw;
}

.prices {
  display: flex;
  flex-direction: row;
  padding-left: 7vw;
  padding-top: 7vw;
}

.priceContainer {
  width: 20vw;
  height: 15vw;
  color: #949393;
  font-weight: bold;
  margin-right: 7vw;
}

.priceContainer:hover,
.priceContainer:active {
  border-radius: 3px;
  border: solid 0.8px #d73f7c;
  color: #d73f7c;
  font-weight: bold;
}

.price,
.size {
  text-align: center;
}

.btnContainer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 15%;
  background-color: white;
}

.back {
  width: 23vw;
  margin-top: 5vw;
  margin-left: 7vw;
}

.next {
  font-weight: bold;
  width: 43vw;
  margin-top: 5vw;
  margin-left: 20vw;
}

.back,
.next {
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: #b7b7b7;
  height: 13vw;
}

.back:active,
.next:active {
  background-color: #3176cb;
}
