@import '~@assets/Colors.less';

.app{
  height: 100vh;
  background-color: @appBackground;
}

.backOfficebody{
    background-color: @BodyBackground;
    height: 95%;
  }

.backOffice_Subbody{
    background-color: @BodyBackground;
}
