@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';
.flexContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
.p{
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 1.6rem;
    color: black;
    margin: 0;
    margin-bottom: 11%;

}
.flexbox{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    .btn{
        margin: 10px;
        border-radius: 10px;
        justify-content: center;
        justify-items: center;
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        width: 29vw;
        padding: 1%;
        &:nth-child(1)
        {
          background-color: #306ab2;
          
        }
        &:nth-child(2)
        {
            background-color: #b7b7b7;
        }

        .title{
            margin-bottom: 10px;
            font-size: 1rem;
            color:@WhiteBG;
            margin:0;
        
        }

    
    }
    // justify-content: center;
}
}






// .btn:hover{
//     background-color:@purpleBorder;
//      color :@WhiteBG;
//    }

// .button:hover{
//     background-color: #30b244;
//     color: white;
// }



.space{
    padding: 65px 0px;
}