@import '~@assets/Colors.less';

.pagDiv{
    align-self: center;
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-between;
    button{
        width: 3.5vw;
        border-radius: 22px;
        box-shadow: 0 0 2px 0 rgba(199, 190, 190, 0.5);
        border: solid 0.5px #e1e1e1;
        background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
        margin: 0% 2%;
        align-self: center;
        height: 80%;
        display: flex;
        .icon{
            font-size: 1rem;
            color: #d73f7c;
            border: none;
            align-self: center;
            margin: 0 auto;
        }

    }
    p{
        color: @RegularBlack;
        
        font-size: 1rem;
        align-self: center;
        margin: 0;

    }
   .icon{
       font-size: 1.7rem;
       
   }
        
}