.noActive{
    text-align: center;
    font-size: 1.2rem;
    color : #d73f7c;
    font-weight: bold;
}
.btnsContanier{
    display: flex;
    justify-content: flex-start;
    width:100%;
    flex-wrap: wrap;
    button{
        width: 45%;
        margin-bottom: 2%;
        height: 7vh;
        border-radius: 2.5px;
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: solid 1.5px rgba(179, 176, 176, 0.34);
        background-color: #ffffff;
        color:#000000;
        font-size: 1.5rem;
        font-family: lato;
        &:nth-child(odd){
            margin-right: 5%;
        }
    }
   

}