@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.top_label {
    .FontSettings(0.9vw, @fontSubcolor);
    font-size  : 1.2vw;
    font-weight: bold;
    color      : #838383;
}