
@import '~@assets/Colors.less';
.flexCol{
    display: flex;
    padding: 1rem 1.5rem 0rem 1.5rem;
    flex-direction: column;
    .header{
        width: 90%;
        height: auto;
        display: flex;
        margin-bottom: 1rem;
        p{
            margin:  0 auto;
            
            font-size: 1.3rem;
            font-weight: bold;
            text-align: center;
            color:@black;
            text-align: center;
            align-self: center;
        }
    }
    span{
        font-family: lora;
        font-size: 1rem;
        text-align: left;
        color: @grey;
        font-weight: bold;
    }
}
    