@import '~@assets/Colors.less';

.combo{
    td{
        &:first-child{
            font-size: 1rem;
            padding: 2% 6%;
        }
        color: @black;
        
        font-size: 0.8rem;
        text-align: center;
        &:last-child{
            color: @mainColor;
        }
    }
}
.alter{
    td{
        font-weight: bold;
        &:first-child{
            font-size: 1rem;
            padding: 2% 6%;
        }
        color: @black;
        
        font-size: 0.8rem;
        text-align: center;
        &:last-child{
            color: @mainColor;
        }
    }
}
.clickedRow{
    background-image: linear-gradient(to bottom, @mainColor, @mainColor);
    color:#ffffff ;
    position:'relative';
}
.clickedRow td{
    &:first-child{
        font-size: 1rem;
        padding: 2% 6%;
    }
    color: @WhiteBG;
    
    font-size: 0.8rem;
    text-align: center;
    button{
        background-color: #ffffff;
        color : @WhiteBG;
    }

}
.clickedRow .tableIcon{
    color: #ffffff;
   
}