.container{
    height: 80vh;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;

}

.title{
    
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.91;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.button_container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 10%;
    margin: 5%;

    button{
        width: 20%;
        border-radius: 2.5px;
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: solid 0.5px rgba(179, 176, 176, 0.34);
        background-image: linear-gradient(to bottom, #ffffff, #fafafa);
    }
}
