@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.text_name {
  .FontSettings(0.9vw, @fontSubcolor);
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  font-size: 0.9vw;
  color: @fontSubcolor;

}

.displayText {
  .FontSettings(0.9vw, @fontSubcolor);
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  margin-left: 10%;
  font-size: 1.1rem;
  color: @fontSubcolor;

}

.cheakGrid{
  .FontSettings(1vw,@fontSubcolor);
    line-height: 1.38;
    letter-spacing: normal;
  display: grid;
  grid-template-columns: 50% 50%
}
