
.group_grid_container {

}

.group_grid_container>.collapse_table_td>div {
    display: flex;
    justify-content: space-around;
    justify-items: left;
}

.grid_item {
    // width: 100%; 
    text-align: left;
  }