.card{
    height: 100%;
    width: 100%;
    padding: 3%;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: 0.02px solid #d3d3d3d3;
    overflow-y: scroll;
    overflow-x: hidden;

    .img{
        height: 34%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2%;

        img{
            height: 100%;
            width: 100%;
        }
    }

    .desc{
        height: fit-content;
        margin-bottom: 2%;

        p{
            margin: 0;
            font-weight: normal;
            color: #887a7b;
        }
    }

    .selects{
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;
    }

    .footer{
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .total_price{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            p{
                font-size: 8rem;
                font-weight: 600;
                color: #306ab2;
                margin: 0;
            }

            .quantity{
                height: 90%;
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button{
                    height: 60%;
                    width: 21%;
                    border-radius: 50px;
                    font-size: 6rem;
                    color: #306ab2;
                    border: solid 0.5px #306ab2;
                    background-color: #ffffff;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

                p{
                    margin: 0;
                    font-size: 4rem;
                }
            }
        }

        .cart{
            height: 42%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .inner{
                height: 100%;
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .count{
                    margin: 0;
                    font-size: 1.2rem;                    font-weight: normal;
                    color: #306ab2;
                }

                .shopping{
                    width: 88%;
                    height: 100%;
                }
            }

            button{
                height: 100%;
                width: 49%;
                border-radius: 12px;
                background-color: #306ab2;
                font-size: 2rem;
                font-weight: bold;
                color: #ffffff;
            }
        }
    }
}

.options{
    display: flex;
    flex-direction: column;
    padding: 0.8vw;
    min-width: 8%;
    justify-content: space-between;
    width: 100%;
}