.div{
   div{
       div{
        display: flex;
        justify-content: center;
           div{

               &:nth-child(3){
                   display: none;
               }
           }
       }
   }
}