.inrows{
    height: fit-content;
    
    .ininrow{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 2% 12%;
    margin: auto;

    .outerClass{
        width: 100%;
    }
    }
}