@import "~@assets/style-settings.less";
@import "~@assets/Colors.less";

.container {
  width: 30%;
  margin: 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2.5px 0 3px 0 rgba(35, 79, 129, 0.3);
  background-color: #cdd9e8;
  // width: 30vw;
  // height: 103vw;
  overflow: scroll;
  .btnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .button {
      font-size: 0.9vw;
        color: #838383;
        width: 20vw;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: -14px;
        border: solid 0.4px rgba(112, 112, 112, 0.46);
        background-image:@WhiteBG;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        white-space: nowrap;
        background: @WhiteBG;
    }
  }
}

// .button {
//   font-size: 0.9vw;
//   color: #838383;
//   height: 17vw;
//   width: 20vw;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   border-bottom-right-radius: -14px;
//   border: solid 0.4px rgba(112, 112, 112, 0.46);
//   background-image: white;
//   display: flex;
//   justify-content: center;
//   justify-items: center;
//   align-items: center;
//   flex-direction: column;
//   white-space: nowrap;
//   background: white;
// }

.pic {
  height: 100%;
  width: 100%;
}
.buttonContainer {
  margin: 15px 15px;
  width: 20vw;
  height: 25vw;
  border: 0;
  padding: 0;
}
.itemActive{
  margin: 15px 15px;
  width: 20.5vw;
  height: 25vw;
  border: 0;
  padding: 0;
  border: solid 0.8px @mainColor;
  color: @mainColor;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.3rem;
}
.titleActive{
  width: 20vw;
  height: 8vw;
  background:#db3669;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.title {
  // padding: 7px;
  // padding-top: 10px;
  width: 20vw;
  height: 9vw;
  background: @leftSide;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: @WhiteBG;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 300px) {
  .title {
    padding: 7px;
    // padding-top: 10px;
    width: 20vw;
    height: 15vw;
    background: #234f81;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    font-size: 1.3vw;
  }
}
