@import "~@assets/style-settings.less";
@import "~@assets/Colors.less";

.container {
  margin: 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2.5px 0 3px 0 rgba(35, 79, 129, 0.3);
  background-color: #cdd9e8;
  width: 30vw;
  height: 103vw;
  overflow: scroll;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  font-size: 0.9vw;
  color: #838383;
  height: 17vw;
  width: 20vw;
  /* margin: 1%; */
  /* border-radius: 5px 5px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: -14px;
  /* border-top-left-radius: 15px; */
  border: solid 0.4px rgba(112, 112, 112, 0.46);
  background-image: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  /* font-size: 1.1vw; */
  /* color: #953879; */
  white-space: nowrap;
  background: white;
}

.pic {
  width: 80%;
  margin-bottom: 5%;
}
.buttonContainer {
  margin: 15px 15px;
  width: 20vw;
  height: 25vw;
  border: 0;
  padding: 0;
}
.itemActive{
  margin: 15px 15px;
  width: 20.5vw;
  height: 25vw;
  border: 0;
  padding: 0;
  border: solid 0.8px #d73f7c;
  color: #d73f7c;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.titleActive{
  width: 20vw;
  height: 8vw;
  background:#db3669;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  // padding: 7px;
  // padding-top: 10px;
  width: 20vw;
  height: 8vw;
  background: #234f81;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 300px) {
  .title {
    padding: 7px;
    // padding-top: 10px;
    width: 20vw;
    height: 15vw;
    background: #234f81;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    font-size: 4vw;
  }
}
