.allcon{
      width:100%;
      max-height: 60%;
      height: 60%;
  .cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    .items{
        display: flex;
        flex-wrap: wrap;
        .name {
          display: flex;
        }
        .note{
            margin-left: 20%;
            width: 100%;
          }

        p{
          font-size: 0.8rem;
          color: #000000;
            margin: 0;
        }
        .item{
          width: 15vw;
        }
        .et{ 
            margin: 0 1%; 
            width: 8%;
      }
        .qtn,
        .showMore,
        .miniBtn {
        width: 17.5px;
        height: 17.5px;
        border-radius: 5px;
        background-color: #b7b7b7;
        box-shadow: 0 0 0;
        text-align: center;
        color: white;
        margin: 0 1%;
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        .editImg {
            width: 10px;
            height: 10px;
          }
        }
    }
  }
  .modfcont{
      display: flex;
      flex-direction: column;
      width: 100%;
      .note{
        margin-left: 11%;
      }
      .flex{
        display: flex;
        width: 90%;
        .modfir{
        width:61%;
        display: flex;
        margin-left: 10%;
        }
        .et{ 
          width: 10%;
        }
        .cancel {
        width: 22.5px;
        height: 22.5px;
        border-radius: 5px;
        background-color: #b7b7b7;
        box-shadow: 0 0 0;
        text-align: center;
        color: white;
        margin: 0 1%;
        padding: 0%;

        .editImg {
            width: 10px;
            height: 10px;
          }
        }    
      }
    }
          .single{
        div{
            display: flex;
            width: 100%;
            div{
                width:80%;
            }
            }
            p{
                font-size: 0.8rem;
                color: #000000;
                margin: 0;

            }
            .et{ 
                width: 10%;
            }
            button {
                width: 22.5px;
                height: 22.5px;
                border-radius: 5px;
                background-color: #b7b7b7;
                box-shadow: 0 0 0;
                text-align: center;
                color: white;
                margin: 0 1%;
                .editImg {
                    width: 10px;
                    height: 10px;
                }
            }
    }
}