@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

  .iconstyle{
    color:#ffffff;
    border-radius: 13px;
    border: 1px solid @mainColor;
    background: @mainColor;
    font-size: 0.8rem;
  }
  .dates_circle1{
    font-size: 0.8rem;
  color:#ffffff;
  border-radius: 13px;
  border: 1px solid @fontSubcolor;
  }
  .dates_text{

    
    font-size: 0.9vw;
    text-align: left;
    color: @fontSubcolor;
    margin-left: 2%;
  }
