@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.mgFooter{
    margin-top: 5%;
    margin-left: 60%;
    width: 40%;
    height: 3vh;
    display: flex;
    justify-content: center;
    .PagescounterP{
        .FontSettings(0.9vw,@SelectColor);
        text-align: left;
        margin-left: 5%;
    }
    .Pages_caret{
        color: @SelectColor;
        margin-top: 1%;
        margin-left: 2%;
        size: 1.8vw;
    }
    .Pages_chevron{
        margin-top: 1%;
        color: @SelectColor;
        margin-left: 8%;
        size: 1.8vw;
    }
    .PagesNumberP{
        .FontSettings(0.9vw,@SelectColor);
        margin-left: 8%;
        margin-right: 8%;

    }
}


