@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';
.header_td {
    .FontSettings(0.9vw, @SelectColor);
    font-size    : 1vw;
    font-weight  : bold;
    border-bottom: 1px solid @mainColor;
    padding      : 1%;
}

.InputRow {
    .FontSettings(0.9vw, @HeadersGray);
    cursor         : pointer;
    display        : flex;
    justify-content: center;
    align-content  : center;
    align-self     : center;
    padding-top    : 1vw;
    height         : 100%;
}

.arrow {
    color: @mainColor;
}

.arrow:hover {
    color : #000000;
    cursor: pointer;
}

.Tcell {
    .FontSettings(0.9vw, @HeadersGray);
    font-size   : 1vw;
    padding-top : 1vw;
    border-right: 0.5px solid #dedede;
    border-left : 0.5px solid #dedede;
}