@import '~@assets/Colors.less';

.station_container{
    padding: 2% 1.5%;
    margin: 0;
    background-color: #ffffff;
    height: 100%;

    p{
        font-size: 2vh;
        color: @headerFont;
    }


}