.title{
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.incrementer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10%;

}
  .minus,
.plus {
    border-radius: 5px;
    border: solid 1px #234f81;
    color: #234f81;
    text-align: center;
    width: 6vw;
    height: 6vw;
}

.minus:hover,
.minus:active,
.plus:hover,
.plus:active {
  border: solid 1px #d73f7c;
}

.qantity {
    color: #234f81;
    font-weight: bold;
    margin: 1vw 2vw;
    display: inline;
}

.containerTitel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cancle{
    border-radius: 5px;
    width: 35%;
    /* border-radius: 5px; */
    height: 100%;
    background-color: #b7b7b7;
    border: 0;
    padding: 8px;
    color: white;
}

.submit{
    border-radius: 5px;
    width: 55%;
    /* border-radius: 5px; */
    height: 100%;
    background-color: #b7b7b7;
    background-color: #3176cb;
    color: white;
    border: 0;
    padding: 8px;
}