@import "~@assets/style-settings.less";
@import "~@assets/Colors.less";

.container {
  width: 23%;
  margin: 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2.5px 0 3px 0 rgba(35, 79, 129, 0.3);
  background-color: #cdd9e8;
  overflow: scroll;
  .btnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .button {
      font-size: 0.9vw;
        color: #838383;
        width: 20vw;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: -14px;
        border: solid 0.4px rgba(112, 112, 112, 0.46);
        background-image:@WhiteBG;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        white-space: nowrap;
        background: @WhiteBG;
    }
  }
}

// .button {
//   font-size: 0.9vw;
//   color: #838383;
//   height: 17vw;
//   width: 20vw;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   border-bottom-right-radius: -14px;
//   border: solid 0.4px rgba(112, 112, 112, 0.46);
//   background-image: white;
//   display: flex;
//   justify-content: center;
//   justify-items: center;
//   align-items: center;
//   flex-direction: column;
//   white-space: nowrap;
//   background: white;
// }

.pic {
  width: 80%;
}
.buttonContainer {
  border: 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 2%;
  width: 90%;
}
.itemActive{
  border: 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 2%;
  width: 90%;
  border: solid 0.8px @mainColor;
  color: @mainColor;
  font-weight: bold;
  // font-size: 1.2rem;
}

.title {
  background: #234f81;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #ffffff;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
   font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
}
.titleActive{
  background:#db3669;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 6%;

}
.button{
  background: white; 
   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: -14px;
    border: solid 0.4px rgba(112, 112, 112, 0.46);
    background-image: white;
    background: white;
}

// @media only screen and (max-width: 300px) {
//   .title {
//     padding: 7px;
//     // padding-top: 10px;
//     width: 20vw;
//     height: 15vw;
//     background: #234f81;
//     border-bottom-right-radius: 8px;
//     border-bottom-left-radius: 8px;
//     color: white;
//     font-size: 1.3vw;
//   }
// }
