.modDiv{
    height: 94%;
    .cat{
      display: flex;
      flex-direction: row;
      height: 95%;
    }
    .btnContainer {
      height: 15%;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4%;
      .back {
        width: 23vw;
        background-color: #b7b7b7;
      }
      .next {
        font-weight: bold;
        width: 43vw;
        background-color: #3176cb;
      }
      
      .back,
      .next {
        text-align: center;
        color: white;
        border-radius: 5px;  
        // height: 8vw;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        padding: 1%;
      }
      .back:hover,.next:hover {
        background-color: #3176cb;
      }
    }
    
  }