@import '~@assets/Colors.less';

.container{ 
    height: 100vh;
    background-color:  @greyBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    .Text{
        font-size: 25px;
        font-weight: bold;
        margin: 20px 0;
    }

   


