@import '~@assets/Colors.less';

.container{
    padding: 2% 1.5% 2% 1%;
    margin: 0;
    height: 91.7%;

    .cards_container{
        height: 78vh;
        padding: 2% 1.5% 2% 1%;
        display: flex;
        justify-content: flex-start;
    }
}