@import '~@assets/Colors.less';

.control_container {
    // padding: 2% 1.5%;
    margin : 0 0;
    height : 100%;
    align-self: center;
    .inner {
        height          : 100%;
        background-color: #ffffff;
        border          : 1px solid #cccccc;
        border-radius   : 10px;
        display         : flex;
        flex-direction  : column;
        align-self: center;


        .cashier_div {
            height         : 100%;
            padding        : 2% 8%;
            margin         : 0 0;
            display        : flex;
            justify-content: space-around;
            flex-wrap      : wrap;

            .left {
                display       : flex;
                flex-direction: column;
                width         : 50%;
                .eventTBOX {
                    display: flex;
                    flex-direction: column;
                    padding: 1vw;
                    // justify-content: space-between;
                    width: 100%;

                    label {
                        
                        font-size  : 1rem;
                        font-weight: bold;
                        color      : @fontMainColor;
                    }

                    input {
                        border-radius: 2.5px;
                        border       : 1px solid;
                        border       : solid 1px #d3d3d3;
                        width        : 23vw;
                        min-height   : 6vh;
                        text-align   : center;
                        color        : #000000;
                        font-family  : NunitoSans;
                        font-size    : 1rem;
                    }

                    div {
                        div {
                            div {
                                width : 23vw;
                                height: 5.2vh;

                            }
                        }
                    }
                }
                .saveBtns{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin: 0 auto;
                    height: fit-content;
                    margin-top: 39%;
                    padding: 1%;
                
                    button{
                        border-radius: 20px;
                        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
                        border: solid 0.5px rgba(179, 176, 176, 0.34);
                        width: 40%;
                        height: 6vh;
                        
                        font-size: 1rem;
                        padding: 1%;
                        &:focus{
                            outline: 0;
                        }
                        &:nth-child(1){
                            background-image: linear-gradient(to bottom, @linerBackgroun2, @linerBackgroun2);
                            color:@btnColor
                        }
                        &:nth-child(2){
                            background-image: linear-gradient(to bottom, @mainColor, @mainColor);
                            color:@WhiteBG
                        }
                
                    }
                    
                }


                // .cashier_btn {
                //     padding         : 1% 2%;
                //     margin          : 0;
                //     width           : 15%;
                //     height          : 46%;
                //     border          : 1px solid #d3d3d3;
                //     border-radius   : 5px;
                //     background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
                //     margin-right    : 2%;
                //     outline         : none;

                //     .img_div {
                //         padding        : 0;
                //         height         : 10.5vh;
                //         width          : 50%;
                //         margin         : 0 auto;
                //         border         : 1px solid;
                //         border-radius  : 40px;
                //         display        : flex;
                //         justify-content: space-around;

                //         img {
                //             align-self: 'center'
                //         }
                //     }

                //     .border {
                //         margin-top: 10%;
                //         border    : 1px solid #d3d3d3;
                //     }

                //     p {
                //         margin       : 0;
                //         margin-bottom: 1%;
                //     }

                //     .btn {
                //         height          : 18%;
                //         width           : 80%;
                //         background-image: linear-gradient(to bottom, #ffffff, rgba(242, 242, 242, 0.33));
                //         border-radius   : 6px;
                //         border          : 1px solid #d3d3d3;
                //         text-align      : center;
                //         outline         : none;
                //     }
                // }

                // .cashier_btn:nth-child(6n+0) {
                //     margin-right: 0;
                // }

                // @media only screen and (max-width: 800px) {
                //     .cashier_btn {
                //         height: 40%;

                //         .img_div {
                //             height: 8.5vh;
                //             width : 72%;
                //         }
                //     }

                // }
            }

        }


    }
}


// .title_div {
//     height         : 19%;
//     padding        : 2% 4%;
//     margin         : 0 0;
//     display        : flex;
//     justify-content: space-between;

//     .back_btn {
//         outline         : none;
//         align-self      : center;
//         height          : 95%;
//         width           : 6%;
//         background-color: #ffffff;
//         border          : 1px solid #e0e0e0;
//         border-radius   : 5.5px;
//         display         : flex;
//         justify-content : space-around;

//         .icon {
//             font-size : 2vh;
//             border    : none;
//             align-self: center;
//         }


//         p {
//             align-self: center;
//             margin    : 0%;
//             font-size : 2vh;
//         }
//     }

//     .title {
//         align-self : center;
//         font-size  : 2.5vh;
//         font-weight: bold;
//         color      : @mainColor;
//     }

//     .pag_search_div {
//         height         : 80%;
//         width          : 20%;
//         display        : flex;
//         justify-content: space-between;

//         .search_btn {
//             height          : 90%;
//             width           : 19%;
//             align-self      : center;
//             border          : 1px solid #e0e0e0;
//             border-radius   : 18px;
//             font-size       : 2.5vh;
//             color           : @mainColor;
//             box-shadow      : 0 0 2px 0 rgba(199, 190, 190, 0.5);
//             background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
//         }

//         .pag_div {
//             height         : 100%;
//             width          : 60%;
//             display        : flex;
//             justify-content: space-between;

//             .pag_btns {
//                 height          : 85%;
//                 width           : 30%;
//                 align-self      : center;
//                 border          : 1px solid #e0e0e0;
//                 border-radius   : 18px;
//                 box-shadow      : 0 0 2px 0 rgba(199, 190, 190, 0.5);
//                 background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
//                 color           : @mainColor;
//                 display         : flex;
//                 justify-content : space-around;
//                 outline         : none;

//                 .icon {
//                     font-size : 3vh;
//                     border    : none;
//                     align-self: center;
//                 }
//             }

//             p {
//                 margin    : 0;
//                 font-size : 2vh;
//                 align-self: center;
//             }
//         }
//     }
// }

@media only screen and (max-width: 800px) {
    .control_container {
        padding: 3% 2.5%;
        margin : 0 0;
    }
}

// .inner {
//     height          : 100%;
//     background-color: #ffffff;
//     border          : 1px solid #cccccc;
//     border-radius   : 10px;
//     display         : flex;
//     flex-direction  : column;

//     .title_div {
//         height         : 19%;
//         padding        : 2% 4%;
//         margin         : 0 0;
//         display        : flex;
//         justify-content: space-between;

//         .back_btn {
//             outline         : none;
//             align-self      : center;
//             height          : 95%;
//             width           : 6%;
//             background-color: #ffffff;
//             border          : 1px solid #e0e0e0;
//             border-radius   : 5.5px;
//             display         : flex;
//             justify-content : space-around;

//             .icon {
//                 font-size : 2vh;
//                 border    : none;
//                 align-self: center;
//             }


//             p {
//                 align-self: center;
//                 margin    : 0%;
//                 font-size : 2vh;
//             }
//         }

//         .title {
//             align-self : center;
//             font-size  : 2.5vh;
//             font-weight: bold;
//             color      : @mainColor;
//         }

//         .pag_search_div {
//             height         : 80%;
//             width          : 20%;
//             display        : flex;
//             justify-content: space-between;

//             .search_btn {
//                 height          : 90%;
//                 width           : 19%;
//                 align-self      : center;
//                 border          : 1px solid #e0e0e0;
//                 border-radius   : 18px;
//                 font-size       : 2.5vh;
//                 color           : @mainColor;
//                 box-shadow      : 0 0 2px 0 rgba(199, 190, 190, 0.5);
//                 background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
//             }

//             .pag_div {
//                 height         : 100%;
//                 width          : 60%;
//                 display        : flex;
//                 justify-content: space-between;

//                 .pag_btns {
//                     height          : 85%;
//                     width           : 30%;
//                     align-self      : center;
//                     border          : 1px solid #e0e0e0;
//                     border-radius   : 18px;
//                     box-shadow      : 0 0 2px 0 rgba(199, 190, 190, 0.5);
//                     background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
//                     color           : @mainColor;
//                     display         : flex;
//                     justify-content : space-around;
//                     outline         : none;

//                     .icon {
//                         font-size : 3vh;
//                         border    : none;
//                         align-self: center;
//                     }
//                 }

//                 p {
//                     margin    : 0;
//                     font-size : 2vh;
//                     align-self: center;
//                 }
//             }
//         }
//     }

//     .details_div {
//         height         : 20%;
//         padding        : 0% 2%;
//         margin         : 0 0;
//         display        : flex;
//         justify-content: space-between;

//         .col {
//             width       : 25%;
//             height      : 100%;
//             border-right: 2px solid #b1adad;

//             .title {
//                 font-size   : 2.5vh;
//                 padding-left: 10%;
//                 color       : #b1adad;
//             }

//             .value {
//                 padding-left: 20%;
//                 font-size   : 5vh;
//                 color       : #000000;
//             }
//         }

//         .col:last-child {
//             border-right: none;
//         }
//     }

//     .options_div {
//         align-self     : center;
//         display        : flex;
//         justify-content: flex-start;
//         flex-wrap      : wrap;
//         height         : 61%;
//         width          : 80%;
//         padding        : 2% 0% 0% 8%;
//         margin         : 0 0;

//         .options_btn {
//             height          : 40%;
//             width           : 15%;
//             padding         : 2% 0%;
//             margin-right    : 3%;
//             box-shadow      : 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
//             border          : solid 0.5px #e1e1e1;
//             background-color: #ffffff;
//             outline         : none;

//             p {
//                 font-size : 2.5vh;
//                 padding   : 10% 0%;
//                 color     : @forgetPassMsg;
//                 text-align: center;
//             }
//         }
//     }

//     @media only screen and (max-width: 800px) {

//         .title_div {
//             height: 14%;

//             .back_btn {
//                 width: 9%;
//             }

//             .title {
//                 margin-left: 14%;
//             }

//             .pag_search_div {
//                 width: 30%;

//                 .search-btn {
//                     height       : 90%;
//                     width        : 20%;
//                     border-radius: 20px;
//                 }

//                 .pag_div {
//                     width: 65%;

//                     .pag_btns {
//                         height: 90%;
//                         width : 30%;
//                     }
//                 }
//             }
//         }


//         .details_div {
//             height: 15%;

//             .col .title {
//                 font-size: 2vh;
//             }

//             .col .value {
//                 font-size: 4vh;
//             }
//         }


//         .options_div {
//             height: 60%;
//             width : 95%;

//             .options_btn {
//                 height    : 35%;
//                 width     : 16%;
//                 margin-top: 5%;
//                 outline   : none;
//             }
//         }

//     }

// }