@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.main{
    .FontSettings(0.9vw, @fontSubcolor);
    font-size: 1rem;
    display: flex;
    // justify-content: space-around;
    p{
        margin: 0 5% 0 0%;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
    }
    button{
        border-radius: 0.5vw;
        border: solid 0.5px #dedede;
        background-color: #fefefe;
        padding: 3%;
    }
}