.btn{
    border-radius: 5.5px;
    border: 1px solid #e0e0e0;
    background-image: linear-gradient(to bottom, #fafafa, #f1f1f1);
    
    font-size: 0.73rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: gray;
    cursor: pointer;
    height: 16%;
    // width: 40%;
    margin-bottom: 3%;
}
.btnActive{
    background-image: linear-gradient(to bottom, #fe534c, #fe534c) !important;
    color: white !important;
}