@import '~@assets/Colors.less';
.root{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @WhiteBG;
    padding: 0% 2%;
    .filter{
        padding: 3% 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        div{
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding-left: 5%;

            p{
                margin: 0;
                align-self: center;
                width: 30%;
                
                font-size: 1rem;
                font-weight: bold;
                color: @HeadersGray;
            }
        }
        .shift{
            width: 53%;
            div{
                width:100%
            }
        }
    }
 
   
}
