@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';



.text{
    .FontSettings(0.9vw, @fontSubcolor);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display_redux{
    .FontSettings(0.9vw, @fontSubcolor);
    font-size: 1rem;
    padding-left: 5%;
}