@import '~@assets/Colors.less';

.btns{
    height: 6%;
    display: flex;
    justify-content: space-between;
    
    button{
        align-self: center;
        height: 95%;
        width: 48%;
        border-radius: 24px;
        box-shadow: 0 0 2px 0 rgba(199, 190, 190, 0.5);
        border: solid 0.5px @GrayBorder;
        color: @mainColor;
        font-weight: 600;
        background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
    }
}
