
.group_grid_container {
    font-size            : 1vw;

}

.group_grid_container>.collapse_table_td>div {
    display: flex;
    justify-content: space-around;
    justify-items: left;
}

.group_grid_container > div {
    text-align: left;
    padding: 0 0;
    margin: 0 3%;
  }