@import "~@assets/style-settings.less";
@import "~@assets/Colors.less";

.chargesContainer {
  font-weight: bold;
  color: black;
}

.totalHeader,
.subHeaders {
  text-align: left;
}

.totalCharge,
.subCharges {
  text-align: right;
  float: right;
}

.subHeaders,
.subCharges {
  font-size: 4vw;
  display: inline;
}

.totalHeader,
.totalCharge {
  font-size: 5vw;
  display: inline;
}

.flexbox {
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.pic {
  width: 25vw;
  margin-bottom: 5%;
}

.btn {
  max-width: 40vw;
  height: 45vw;
  width: 35vw;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
  background: white;
  justify-content: center;
  justify-items: center;
  font-size: 1.1vw;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px white;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 7vw;
}
.button {
  height: 10vw;
  width: 40vw;
  margin: 10px 20px;
  border: 1px solid white;
  border-radius: 9px;
  background: white;
  font-size: 18px;
  color: black;
  text-align: center;
}
.button:hover,
.button:active {
  background-color: #3176cb;
  color: white;
}

.Text {
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 6vw;
  color: black;
  padding-top: 30px;
}
.title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
