@import '~@assets/Colors.less';

.button{
    height: 70%;
    align-self: center;
    background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
    border-radius: 5px;
    width: 70%;
    border: #d5d5d5 .5px;
    color: @mainColor;
    font-size: 2.3vh;
    font-weight: bold;
    box-shadow: 0 0 3px 0 rgba(180, 178, 178, 0.5);
    position: relative;
    outline: 0;
    
}
.buttonClicked {
    height: 70%;
    align-self: center;
    background-image: linear-gradient(to bottom, @mainColor, @mainColor);
    border-radius: 5px;
    width: 70%;
    border: #d5d5d5 .5px;
    color: @WhiteBG;
    font-size: 2.3vh;
    font-weight: bold;
    box-shadow: 0 0 3px 0 rgba(180, 178, 178, 0.5);
    position: relative;
    outline: 0;
    
    
}
.floor{
    display: flex;
    justify-content: space-around;
    height: 80%;
    width: 20%;
    align-self: center;

    span{
        align-self: center;
        font-weight: bold;
        margin: 0;
        font-size: 1vw;
    }
}