.sum_header{
    padding: 0% 0.5% 0% 0.5%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;

    .button{
        display: flex;
        border: 1px solid #e0e0e0;
        border-radius: 6px;
        background-color: #ffffff;
        padding: 1%;
        min-width: 9vw;
        height: 5vw;
        &:focus{
            outline: 0
        }
        .icon{
            font-size: 3vh;
            color: #000000;
        }
        p{
            font-size: 2vh;
            color: #707070;
            margin-left: 13%;
            

        }
    }
    p{
        align-self: center;
        font-size: 1rem;
        color: #000000;
        font-weight: bold;
        margin: 0;
        

    }
    .startOrd{
        font-size: 1rem;
        align-self: center;
        width: 13vw;
        border: 1px solid #e1e1e1;
        border-radius: 45px;
        color: #d73f7c;
        background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
        outline: none;
        padding: 1vh;
        font-weight: 600;
        margin-right: -21%;
        
        &:focus{
            outline: 0
        }
    }
    .editBtn{
        border-radius: 5vw;
        color: #d73f7c;
        background-color: #ffffff;
        width: 4.5vw;
        padding: 1%;
        box-shadow: 0 0 2px 0 rgba(199, 190, 190, 0.5);
        border: solid 0.5px #e1e1e1;
        align-self: center;
        &:focus{
            outline: 0
        }
    }
}