@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.customPanelStyle{
    background-color: #eff4ff;
}

.function_row{
    .FontSettings(0.9vw, @fontSubcolor);
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    font-size: 1vw;
}

.ant-collapse-header{
    color: #ffffff;
}