.modDiv{
  height: 94%;
  .cat{
    display: flex;
    flex-direction: row;
    height: 60%;
  }
  .btnContainer {
    height: 15%;
    background-color: white;
    .back {
      width: 23vw;
      margin-top: 5vw;
      margin-left: 7vw;
    }
    
    .next {
      font-weight: bold;
      width: 43vw;
      margin-top: 5vw;
      margin-left: 20vw;
    }
    
    .back,
    .next {
      text-align: center;
      color: white;
      border-radius: 5px;
      background-color: #b7b7b7;
      height: 13vw;
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    }
    .back:hover,.next:hover {
      background-color: #3176cb;
    }
  }
}
.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;
    margin: auto;
    margin-top: 5vw;
    padding: 3vw;
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 4vw;
  }
  .titleSpan{
  
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  
  .image {
    width: 35vw;
    height: 30vw;
    margin-left: 30%;
  }
  
  .description {
    color: black;
    padding-left: 7vw;
  }
  
  .select {
    color: black;
    font-weight: bold;
    font-size: 5vw;
    padding-left: 7vw;
    padding-top: 11vw;
  }
  
  .prices {
    display: flex;
    flex-direction: row;
    padding-left: 7vw;
    padding-top: 7vw;
  }
  
  .priceContainer {
    width: 20vw;
    height: 15vw;
    color: #949393;
    font-weight: bold;
    margin-right: 7vw;
  }
  
  .priceContainer:hover,
  .priceContainer:active {
    border-radius: 3px;
    border: solid 0.8px #d73f7c;
    color: #d73f7c;
    font-weight: bold;
  }
  
  .price,
  .size {
    text-align: center;
  }
//   .btnContainer {
//     position: fixed;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     height: 13%;
//     .back {
//       width: 23vw;
//       margin-top: 5vw;
//       margin-left: 7vw;
//       border: 0;
//       background-color: #b7b7b7;
//     }
//     .next {
//       font-weight: bold;
//       width: 43vw;
//       margin-top: 5vw;
//       margin-left: 20vw;
//       border: 0;
//       background-color: #3176cb;
//     }

//     .back,.next {
//       text-align: center;
//       color: white;
//       border-radius: 5px;
//       // background-color: #b7b7b7;
//       height: 10vw;
//       box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
//     }
// .back:hover,
// .next:hover {
//   background-color: #3176cb;
// }
//   }
  
  // .btnContainer {
  //   position: fixed;
  //   right: 0;
  //   left: 0;
  //   bottom: 0;
  //   height: 13%;
  //   background-color: white;
  // }
  
  // .back {
  //   width: 23vw;
  //   margin-top: 5vw;
  //   margin-left: 7vw;
  // }
  
  // .next {
  //   font-weight: bold;
  //   width: 43vw;
  //   margin-top: 5vw;
  //   margin-left: 20vw;
  // }
  
  // .back,
  // .next {
  //   text-align: center;
  //   color: white;
  //   border-radius: 5px;
  //   background-color: #b7b7b7;
  //   height: 13vw;
  //   box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  // }
  
  // .back:active,
  // .next:active,
  // .back:hover,
  // .next:hover {
  //   background-color: #3176cb;
  // }
  .devContainer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 15%;
    /* top: 60%; */
    height: 22%;
    width: auto;
    margin: 25px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #f3f8ff;
    text-align: start;
    font-weight: bold;
    color: black;
    font-size: 4vw;
  }
  .summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: normal;
    color: #000000;
    font-size: 15px;
  }
  .editImg {
    width: 10px;
    height: 10px;
  }
  .miniBtn {
    width: 22.5px;
    height: 22.5px;
    border-radius: 5px;
    background-color: #b7b7b7;
    box-shadow: 0 0 0;
    text-align: center;
    color: white;
    margin-left: 2vw;
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .head p {
    font-size: 15px;
    font-weight: normal;
  }
  
  .qtn {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 40%;
    margin: auto;
    margin-top: 5vw;
    padding: 3vw;
  }
  
  .item {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 6vw;
    margin-top: 3vw;
    margin-bottom: 10vw;
  }
  
  .chargesHeader {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding: 3vw;
    color: black;
  }
  .chargesEach,
  .chargesTotal {
    display: flex;
    flex-direction: column;
    margin: 2vw;
  }
  
  .flex,
  .flexTotal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 2vw;
    padding-bottom: 5vw;
    color: black;
  }
  
  .itemInfo {
    margin-left: 3vw;
    margin-right: 30%;
  }
  
  .flexTotal {
    font-weight: bold;
  }
  
  .itemTotalInfo {
    margin-left: 3vw;
    margin-right: 40%;
  }
  
  .each,
  .total {
    text-align: black;
    margin: 1vw;
  }
  
  .total {
    margin-left: 4.5vw;
  }
  
  .priceHeader {
    color: black;
    width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    margin: 3vw;
  }
  
  .header {
    text-align: center;
    width: 15vw;
  }
  
  .left {
    display: inline;
    color: black;
    text-align: left;
    padding-top: 5vw;
    margin: 4vw;
  }
  
  .itemTotal {
    display: inline;
    color: black;
    font-weight: bold;
    margin: 4vw;
  }
  
  .totalPrice {
    display: inline;
    color: black;
    font-weight: bold;
    position: absolute;
    right: 7vw;
    top: 51vw;
  }
  
  .incrementer {
    margin-left: 40%;
    margin-top: 40vw;
  }
  
  .minus,
  .plus {
    border-radius: 5px;
    border: solid 1px #234f81;
    color: #234f81;
    text-align: center;
    width: 10vw;
    height: 10vw;
  }
  
  .minus:hover,
  .minus:active,
  .plus:hover,
  .plus:active {
    border: solid 1px #d73f7c;
  }
  
  .qantity {
    color: #234f81;
    font-weight: bold;
    margin: 2vw;
    display: inline;
  }

  @import '~@assets/Colors.less';

.Mod_main{
    height: 100%;
    float: right;
    padding-right: 3%;
    padding-left: 2%;
    width: 100%;
    max-width: 55vw;
    min-width: 55vw;
    margin-right: 0;
    margin-left: 0;

    .Mod_frame{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 95%;
        border: 0.3px solid rgba(112, 112, 112, 0.46);
        background-color: #ffffff;
        border-radius: 15px;
        margin-top: 3%;
        padding-left: 8%;
        padding-right: 4%;
        padding-top: 0;
        padding-bottom: 0;

        .container {
            min-height: 80%;
        }
        
        .Mod_cal{
            min-height: 60%;
        }

        .btns{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 13%;

            .ok_div{
                width: 24%;
                height: 100%;
                float: right;
            
                .btn{
                    width: 100%;
                    height: 100%;
                    padding: 2%;
                    color: #ffffff;
                }
            }

            .icons{
                display: flex;
                justify-content: space-between;
                width: 34%;
                height: 100%;

                button{
                    box-shadow: 0 0 2px 0 rgba(199, 190, 190, 0.5);
                    border: solid 0.5px #e1e1e1;
                    background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
                    align-self: center;
                    border-radius: 43px;
                    width: 32%;
                    height: 47%;
                    color: @mainColor;
                }
            }
        }

    }
}


.Mod_main{
    height: 100%;
}


.Mod_top{
    // height: 10%;
    // display: flex;
    // justify-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Mod_title{
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        align-self: center;
        color: #000000;
        margin: 0 auto;
    }
}

.Mod_modifiersBox{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5%;
}

.Line_modifer {
    opacity: 0.44;
    width: 95%;
    height: 0.5%;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.22);
    background-color: #dddddd;
    margin-top: 2%;
    margin-bottom: 2%;
}  

/* ////////////////item.js/////////////////////////////// */


.Mod_itemsBox{
    width: 95%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2%;
    max-height: 40%;
    overflow-x: scroll;

    .Mod_itemsBtn{
      width: 20%;
      height: 8vh;
      margin: 0.7% 0.7%;
      display: flex;

      justify-content: space-between;
      border-radius: 3.5px;
      border: solid 0.8px #b7b7b7;
      background-color: #fafafa;
      justify-content: center;
    
        span{
          align-self: center;
          font-size: 1rem;
        }
        
        .Mod_price{
            align-self: flex-end;
            height: 25%;
            width: 100%;
            background-color: @mainColor;
            border-bottom-left-radius: 3.5px;
            border-bottom-right-radius: 3.5px;
            display: flex;
            justify-content: space-around;
    
            span{
                font-size: 1.5vh;
                align-items: center;
                margin: 0;
                color: #ffffff;
            }
        }
    }
}



/* ////////////////groups.js///////////////////////////////*/

// .Mod_btn{
//     width: 24%;
//     height: 9vh;
//     display: flex;
//     justify-content: space-around;
//     border-radius: 1vh;
//     border: 1.5px solid #e0e0e0;
//     background-color: #ffffff;
//     margin: 0.5% 0.5%;
//     cursor: pointer;
//     outline: none;
//     padding: 0;

//     div{
//         align-self: center;
//         margin: 0 auto;

//         span{
//             // src: url(../../Fonts/Lato-Bold.ttf);
            
//             font-size: 1rem;
//             font-weight: normal;
//             font-style: normal;
//             font-stretch: normal;
//             letter-spacing: normal;
//             color: @mainColor;
//             margin: 0 auto;
//         }
//     }
// }

// .Mod_btn_active{
//     display: flex;
//     justify-content: space-around;
//     height: 6.5vh;
//     width: 95%;
//     border-radius: 1vh;
//     background-color: @mainColor;

//     span{
        
//         color: #ffffff;
//         align-self: center;
//     }
// }

// .choose_div{
//   position: absolute;
//   top: 32vw;
//   left: 32vw;
//   right: 0vw;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;

//     .due{
//         align-self: center;
        
//         font-size: 2vh;
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         letter-spacing: normal;
//         text-align: left;
//         color: @mainColor;
//         margin: 0;
//     }

//     .pag_div{
//         align-self: center;
//         height: 95%;
//         width: 24%;
//         display: flex;
//         justify-content: space-between;

//         .pag_btn{
//             height: 100%;
//             width: 30%;
//             align-self: center;
//             border: 1px solid #e0e0e0;
//             border-radius: 18px;
//             box-shadow: 0 0 2px 0 rgba(199, 190, 190, 0.5);
//             background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
//             color: @mainColor;
//             display: flex;
//             justify-content: space-around;
//             outline: none;

//             .icon{
//                 font-size: 3vh;
//                 border: none;
//                 align-self: center;
//             }
//         }

//         p{
//             margin: 0;
//             font-size: 2vh;
//             align-self: center;
//         }
//     }
// }

// .x {
//   position: absolute;
//   top: 15vw;
//   left: 32vw;
//   right: 0vw;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }
  