@import '~@assets/Colors.less';

.header{
    width:100%;
    text-align: left;
    margin: 0;
    padding: 0% 2.5%;
    height: 10vh;
    p{
        color:@date;
        
        font-weight: bold;
        font-size: .8rem;
        margin-bottom: 3%;
        &:nth-child(2){
            color: @black;
            font-size: 1.2rem;

        }

    }
}