.dic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 47%;
    align-items: center;
    p{
        color: #234f81;
        &:nth-child(1){
            font-size: 1.5rem;
        }
        &:nth-child(2){
            font-size: 1rem;
            text-align: center;
            width: 51%;
        }
    }
}