@import '~@assets/Colors.less';

.title{
        height: 6%;
        display: flex;
        justify-content: space-between;

        p{
            font-size: 2vh;
            align-self: center;
            color: @RegularBlack;
            margin: 0;
            
            font-weight: 600;
        }
}