@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.checkBox {
  width : 20%;
  height: 20%;
  zoom  : 1.7;

}

.grid_naming {
  grid-area: a;
}

.cheakGrid {
  .FontSettings(1vw, @fontSubcolor);
  line-height          : 1.38;
  letter-spacing       : normal;
  display              : grid;
  grid-template-columns: 50% 50%;
  font-size            : 1vw;

}