.container {
    margin: 2px;
    padding: 5px;
    display: flex;
    width: 80%;
      .title {
        margin: 1%;
        margin-top: 10px;
        border-radius: 2.5px;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.09);
        border: solid 0.3px #b1b1b1;
        background-color: #ffffff;
        text-align: center;
        width: 20%;
        height: 17%;
        padding: 0%;
        padding-top: 1%;
    
        p{
          margin: 0;
          color: #000000;
          font-size: 0.8rem;
          font-weight: 600;
        }
        &:hover{
          border: 1px solid #cb3e76;
          color: #cb3e76;
        }
        div{
          background-color: #d73f7c;
          border-bottom-left-radius: 2.5px;
          border-bottom-right-radius: 2.5px;
          height: 31%;
          display: flex;
          justify-content: center;
          p{
            height: 0;
            color: #ffffff;
          }
        }
        }
        .active{
          border: 1px solid #cb3e76;
        }
    
   
  }