@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.head_td {
  .FontSettings(0.9vw, @fontSubcolor);
  font-size    : 1.2vw;
  border-bottom: 0.5px solid @mainColor;
  border-right : 0.5px solid #dedede;
  border-left  : 0.5px solid #dedede;
  padding      : 1%;
}

.small_head_th {
  .FontSettings(0.9vw, @fontSubcolor);
  font-size    : .8vw;
  border-bottom: 0.5px solid @mainColor;
  border-right : 0.5px solid #dedede;
  border-left  : 0.5px solid #dedede;
}

.subhead_td {
  .FontSettings(0.9vw, @fontSubcolor);
  font-size    : 1.2vw;
  border-bottom: 0.5px solid @mainColor;
  border-right : 0.5px solid #dedede;
  border-left  : 0.5px solid #dedede;
  padding      : 1%;
}