@import '~@assets/Colors.less';
.compaign_btn{
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
    border: none;
    align-self: start;
    .compaign_icon{
        color: @yellow;
        font-size: 3vh;
        margin: 0;
    }
    
}