@import '~@assets/Colors.less';
.secDiv{
    flex-direction: column;
    align-items: center;

    p{
        
        font-size: 1rem;
        text-align: left;
        color: @RegularBlack;
        margin: 0%;
        min-width: 9vw;
        // width: 25vw;
    }
    button{
        -webkit-text-stroke: 1.8px #545c76;
        
        font-size: 1rem;
        font-weight: bold;
        color: #545c76;
        border: none;
        background-color: @WhiteBG;
    }
}
.onSubmitBtn{
    border-radius: 5vw;
    box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
    border: 1px solid @WhiteBG;
    background-color: #eeecec;
    color: @mainColor;
    width: 3vw;
    height: 3vw;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 14px 7px 0 5px; 
}