@import '~@assets/Colors.less';

.header{
    height: 15%;
    display: flex;
    justify-content: space-around;

    p{
        margin: 0;
        font-size: 2vh;
        align-self: center;
        color: @mainColor;
        
        font-weight: 600;
    }
}