@import '~@assets/Colors.less';

.Calc{
    justify-self: center;
    margin: 0 auto;
}


.select{
    width: 50%;
    margin: 0 auto;
    select{
        width: 100%;
        font-size: 1.2rem;
        color: @RegularBlack;
        
        font-weight: bold;
        border: 1px solid @RegularBlack;
        height: 5vh;
        border-radius: 5px;
        &:focus{
            outline: @RegularBlack;
            option:checked { 
                background:@WhiteBG !important;
            }
            option:hover{
                box-shadow: 0 0 10px 100px @mainColor inset !important;
                background:@mainColor !important;

            }
        }
        &:hover{
            option:hover{
                box-shadow: 0 0 10px 100px @mainColor inset !important;
                background:@mainColor !important;


            }
        }
        option{
            font-size: 1rem;
            color: @RegularBlack;
            
            option:hover{
                box-shadow: 0 0 10px 100px #000 inset !important;
                background:@mainColor !important;

            }
           
        }
    }
  
}
.last{

    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4%;

      button{
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: solid 0.5px rgba(179, 176, 176, 0.34);
        border-radius: 5vw;
        padding: 3%;
        width: 45%;
        &:focus{
            outline: 0
        }
        &:nth-child(2){
            color: @WhiteBG;
            background:   @mainColor;
        }
        &:nth-child(1){
            color: #090505;
            font-weight: 600;
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 0.5px rgba(179, 176, 176, 0.34);
            background-image: linear-gradient(to bottom, #f3f0f0, #ebe9e9);
        }
       
    }
    
    
}
.label{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: center;
    margin: 0 auto;
    width: 30vw;
    text-align: center;
    label{
        
        font-size: 1rem;
        font-weight: bold;
        color: #707070;
    }
}
.title{
    
    font-size: 3rem;
    font-weight: bold;
    color: #d73f7c;
    text-align: center;
    margin: 0 auto;

}