 @import '~@assets/Colors.less';

.dates_btnn{
  background-color: @mainColor;
  border-radius: 7px 0px 0px 0px;
  color: @mainColor;
  padding: 3% 3%;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  /* margin: 4px 2px; */
  WIDTH: AUTO;

  }
  .dates_btn{
    background-color:white;
    border-radius: 7px 0px 0px 0px;
    color: @mainColor;
    padding: 3% 3%;
    display: inline-block;
    font-size: 0.9rem;
    WIDTH: AUTO;

  }
  .iconstyle{
    color:white;
    width: 13px;
    height: 13px;
  }
  .dates_circle1{
  color:#b7b7b7;
  width: 13px;
  height: 13px;
  }
  .dates_text{
    width: 61px;
    height: 11px;
    
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  }
  .dates_Customize_Annually {
    
    font-size: 0.9rem;
    text-align: left;
    color: #b7b7b7;
    margin: 0
  }
  .dates_Textbox{
    width: 90px;
    height: 22.5px;
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: 20px;

  }
  .space{
    margin-top: 10%
  }
  .dates_grid-itemm1{
    width: 110px;
    height: 35px;
    color: #707070;
    margin-left: 55%

  }
  .dates_grid-itemm2{
   width: 110px;
   height: 35px;
   color: #707070;
   margin-left: 45%

  }
