@import '~@assets/Colors.less';
.DiscountMain{
    height: 100%;
    float: right;
    padding-right: 3%;
    padding-left: 2%;
    width: 100%;
    max-width: 55vw;
    min-width: 55vw;
    margin-right: 0;
    margin-left: 0;
    .DicountFrame{
        height: 85vh;
        border: 0.3px solid rgba(112, 112, 112, 0.46);
        background-color: #ffffff;
        border-radius: 15px;
        margin-top: 3%;
        padding: 3%;
        padding-top: 0;
        padding-bottom: 0;
        overflow-y: scroll;
        &::-webkit-scrollbar {
        width: .5vw;
        }
        &::-webkit-scrollbar-thumb {
            background:@listScroll; 
            border-radius: 10px;
        }

        .FlexDiv{
            height: 11%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2%;
            // padding: 4% 0;

            .DicountTitle{
                display: flex;
                flex-direction: column;
                width: 31vw;
                justify-content: center;
                align-self: center;
                .titles{
                    margin: 0 auto;

                    p{
    
                        font-size: 15px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.05;
                        letter-spacing: normal;
                        align-self: center;
                        color: #000000;
                        margin: 0 auto;
                        text-align: center;
                        &:nth-child(1){
                            margin-bottom: 1vh;
                        }
                    }
                }
            }
            .GroupInput{
                width: 44%;
                height: 6vh;
                font-size: 2vh;
                text-indent: 4%;
                border: 1px solid #a0a0a0;
                border-radius: 5.5px;
                background-color: #ffffff;
                margin-right: 1%;
            }

            .IDInput{
                width: 25%;
                height: 6vh;
                font-size: 2vh;
                text-indent: 4%;
                border: 1px solid #a0a0a0;
                border-radius: 5.5px;
                background-color: #ffffff;
            }

            

            // &:hover{
            //     background-image: linear-gradient(to bottom, #a0a0a0, #a0a0a0);
            //     color: #ffffff;
            // }

            .DiscountBtn{
                width: 10vw;
                min-width: 10vw;
                height: 95%;
                border-radius: 2.5px;
                border: 1px solid #e6e6e6;
                background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
                margin-right: 1%;
                
                font-size: 2vh;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #707070;
            }

            .AdditionBtn{
                width: 20%;
                height: 80%;
                align-self: center;
                border: 1px solid #e6e6e6;
                border-radius: 5.5px;
                background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
                
                font-size: 95%;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.18;
                letter-spacing: normal;
                text-align: center;
                color: @mainColor;
                margin-right: 1%;
            }

            .DiscountOK{
                width: 22%;
                height: 100%;
                border: 1px solid #e6e6e6;
                border-radius: 5.5px;
                background-color: @mainColor;
                // margin-left: 33%;
                
                font-size: 2vh;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }

            .DisTypeLabel{
                width: 10%;
                height: 20%;
                align-self: center;
                
                font-size: 0.9vw;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.19;
                letter-spacing: normal;
                text-align: center;
                color: #707070;
                margin: 3%;
            }

            .DisTypeInput{
                align-self: center;
                width: 35%;
                height:5vh;
                border-radius: 7px;
                box-shadow: 0 0 2px 0 rgba(199, 190, 190, 0.5);
                background-image: linear-gradient(to bottom, #ffffff, #fafafa);
                color: @mainColor;
                
                font-size: 100%;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                margin-right: 1%;
                border: 1px;
            }

            .InputTypeBtn{
                width: 22%;
                height: 8vh;
                align-self: center;
                border-radius: 5.5px;
                background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
                margin: 1%;
                ;
                font-size: 90%;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.19;
                letter-spacing: normal;
                text-align: center;
                color: @mainColor;
                border: 1px solid #e0e0e0;

                &:focus{
                    background-image: linear-gradient(to bottom, #ed2d30, #ed2d30);
                    color: #ffffff;
                    outline: 0;
                }
            }
        }

        .DiscountLabel{
            margin-left: 1%;
            
            font-size: 2vh;
            font-weight: normal;
            color: @mainColor;
            margin-bottom: 1%;
        }

        .discout_types{
            height: 13%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2%;
            overflow-x: scroll;
            width: 50vw;
            
            &::-webkit-scrollbar {
                height: 5%;
                width: 5%;
            }
            &::-webkit-scrollbar-thumb {
                background: #9d9a9a; 
                border-radius: 10px;
            }
        }  

        .Line{
            width: 96%;
            margin-left: 0;
            opacity: 0.44;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.22);
            background-color: #dddddd;
        }

        .end{
            height: 10vh;
        }
    }
}


.popup_container{
    display: flex;
    justify-content: flex-center;
    text-align: center;

    .popUpHeader{
        margin: 5% auto;
        
        font-size: 1.3vw;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: @mainColor;
        display: inline-block;
        /* margin-left: 42%; */
    }
}

.NumDiscountDiv{
    margin:5%;
}

.DiscoustSumbitButtons{
    width: 38vh;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .CancelBtn{
        height: 90%;
        border-radius: 12px;
    }

    .OkBtn{
        height: 90%;
        color: #ffffff;
        border-radius: 12px;
    
    }
}




.select-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.select-input{
    width: 70%;
    height: 70%;
    font-size: 2vh;
    text-indent: 3%;
    border: 1px solid #e6e6e6;
    border-radius: 5.5px;
    background-color: #ffffff;
    /* margin: 1%;
    margin-left: 2%; */
}

.select-icon{
    left: 65%;
    top: 26%;
    position: absolute;
}

.select-option{
    color: #a0a0a0;
}



.DropDownMenuDiv{
    margin-top: 2%;
    margin-bottom: 2%;
}
.DiscountSelect{
    width: 70%;
    height: 40%;
    border: 1px solid  #a0a0a0;;
    border-radius: 5.5px;
    background-color: #ffffff;
    
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: initial;
    color: #a0a0a0;
}

.MenuText{
    margin-left: -44%;
    margin-right: 1%;
}

.TypesBtn{
    width: 15%;
    height: 80%;
    border: 1px solid #e6e6e6;
    border-radius: 5.5px;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    
    font-size: 2vh;
    margin-right: 1%;
    color: @mainColor;
}
.saveBtns{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    height: fit-content;
    
    button{
        border-radius: 5px;
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: solid 0.5px rgba(179, 176, 176, 0.34);
        width: 40%;
        height: 6vh;
        
        font-size: 2vh;
        &:focus{
            outline: 0;
        }
        // &:nth-child(1){
        //     background-image: linear-gradient(to bottom, @linerBackgroun2, @linerBackgroun2);
        //     color:@btnColor
        // }
        // &:nth-child(2){
        //     background-image: linear-gradient(to bottom, @mainColor, @mainColor);
        //     color:@WhiteBG
        // }

    }
    .done{
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: solid 0.5px rgba(179, 176, 176, 0.34);
        width: 100%;
        height: 8vh;
        
        font-size: 3vh;
        background-image: linear-gradient(to bottom, @mainColor, @mainColor);
        color:@WhiteBG
    }
    
}