.pop_search_container{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .SearchLabelDiv{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-self: center;

        .PopUpLabel{
            align-self: center;
            
            font-size: 1rem;
            font-weight: bold;
            color: #707070;
        }
        
        .SearchInputs{
            width: 85%;
            height:6vh;
            border-radius:5px;
            border: 1px solid  #e73a3c;
            background-image: linear-gradient(to bottom, #ffffff, #fafafa);
            color:#707070;
            
            font-size: 1rem;
            font-weight: normal;
        }
    }
    .ButtonsDiv{
        align-self: flex-end;
        width: 25%;
        height: 5vh;
        display: flex;
        justify-content: space-between;

        .OkBtn{
            height: 85%;
            width: 45%;
            border-radius: 20px;
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 0.5px rgba(179, 176, 176, 0.34);
            background-image: linear-gradient(to bottom, #f3f0f0, #ebe9e9);
        }
        .CancelBtn{
            height: 85%;
            width: 45%;
            border-radius: 20px;
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 0.5px rgba(179, 176, 176, 0.34);
            background-image: linear-gradient(to bottom, #f3f0f0, #ebe9e9);
        }
    }
}