@import '~@assets/Colors.less';

.container{
    height: 35vh;
    display: flex;
    flex-direction: column;
    p{
        
        font-size: 1.5rem;
        margin: 0 auto;
        font-weight: bold;
        color: @listScroll;
    }
    button{
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: solid 0.5px rgba(179, 176, 176, 0.34);
        background-image: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
        color:#090505;
        border-radius: 5px;
        width: 80%;
        height: 10vh;
        color: @listScroll;
        
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 auto;
        align-self: center;
        margin-top: 20%;
    }
}