//defualt
@defultBackground: linear-gradient(182deg, #fff4fc, #f0f7ff);
@Gray: #ccc;
// AppHome
@appHomeBackground: @BodyBackground;
@appHomeBoxBackground: @headerBackground;

// App
@appBackground: #f6f6f6;
@headerBackground: #ffffff;
@BodyBackground: #ddebfc;
@calc: #777777;
// @appBackground: #2b2b2b;
// @headerBackground: #2b2b2b;
// @BodyBackground: #2b2b2b;

// Main Color
@mainColor: #d73f7c;
@deepRose: #b83764;
@palePink: #fda2c1;




// Fonts
@fontMainColor: #2b2b2b;
@fontSubMainColor: #575757;
@fontSubcolor: #838383;
@grayFont: #545c76;

// Menu
@menuBackground: #f0f7ff;
@submenuBackgroundActive:#fff0fb;
// @menuBackground: #2b2b2b;
// @submenuBackgroundActive:#2b2b2b;

@menuVerticalLine: #eaeaea;
@menuHorzintalLine: @mainColor;

// Table Lis
@listBackground: #ffffff;
// @listBackground: #2b2b2b;

@listBorder: #cecfd3;
@listBackButtonBorder: #d3d3d3;
@listBackButtonBackground: #ffffff;
@listVerticalLine: #eaeaea;
@listScroll: #306ab2;
@listScrollHover: #306ab2;
@listItemsBackground: #ffffff;
@listItemsBackgroundHover: #fff0fb;
@darkBlue: #13488b;
@date: #4f4f4f;




// Form
@formBackground: #ffffff;
// @formBackground: #2b2b2b;

@formBorder: #eaeaea;
@formScroll: #888 ;
@formScrollHover: #888 ;
@formHorzintalLine: #eaeaea ;

// Login
@loginBackground: #f6f6f6;
@loginContianerBackground: #ffffff;

///Table
@rowBackground: #e6f2ff;
@rowBackground2: #f8fbff;

//

@forgetPassMsg: #0b2a5d;
@checkColor: #306ab2;

@WhiteBG: #ffffff;
@darkWite: #f7f7f7;
@HeadersGray: #707070;
@BorderPurple: #931066;
@iconsGray: #929292;
@tableBorders: #e3e3e3;
@SelectColor: #969696;
@SelectIcon: #8d8d8d;
@CollapseText:#484848;
@InputColor: #a0a0a0;
@RegularBlack:#000000;
@CustomerTextColor: #7b7b7b;
@Customerbutton: #79d3e9;
@GrayBorder : #e1e1e1;
@darkGrey : #7b7b7b;
@darkBackGround: #c3d4ea;
@greyBlue:#f0f5fc;
@black:#000000;
@lightGrey: #e0e0e0;
@trBorder: #f8f8f8;
@baleGrey: #f2f2f2;
@grey: #989797;



@LateColor: #ffa245;
@yellow:#e79813;
@ReadyColor: #79d3e9;
@VoidColor: #b8c2d2;

//Header
@headerFont: #959aa9;
@shiftFont: #000000;
@brown: #634a48;



//Category_Btn
@btnBackground : #ffffff;
@btnColor: #000000;

// ok and cancel btns

@linerBackgroun1: #f3f0f0;
@linerBackgroun2: #ebe9e9;

@footer-btn-1: #fcfcfc;
@footer-btn-2: #f0f0f0;
@lightPurple: #eed4fa;
@darkPurple:#943879;
@purpleBorder: #743b8e;


//Color Paltte

@SoftPink: #fd94b8;
@LightGrayishPink: #fcd8f2;
@VeryPalePink: #fff0fb;
@VeryLightBlue: #97c5ff;
@PaleBlue: #addeff;
@VeryPaleBlue: #d6efff;
@SoftCyan: #79d3e9;
@VerySoftCyan: #93e6fa;
@PaleCyan: #b1fcff;
@PaleOrange: #ffe2ad;
@PaleYellow: #fff2b8;
@LightGrayishYellow: #fdf6d6;
@TableCustomer: #f0f5fc;
