@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';



.header_td {
   .FontSettings(1vw, @fontSubcolor);
   font-size    : 1vw;
   border-bottom: 1px solid @mainColor;
   padding      : 1%;
}

.header_td_body {
   .FontSettings(1vw, @fontSubcolor);
   font-size    : 1vw;
   border-bottom: 1px solid @mainColor;
   padding      : 1%;
}


.sort_button {
   color     : #707070;
   cursor    : pointer;
   transition: color 0.5s;
}

.sort_button_active {
   color     : #c32c68;
   cursor    : pointer;
   transition: color 0.5s;
}