@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.NavLocation_font{
  .FontSettings(0.9vw,@fontSubcolor);
  font-size: 0.9rem;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.NavLocation_fontBigger{
  .FontSettings(0.9vw,@fontSubcolor);
    font-size: 1.2rem;
    font-weight: 700;
    color: #2b2b2b;
}

.NavLocation_line{
    border: 0.5px solid #eaeaea;
    margin: 1%;
}
