@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';


.table_list_search{
    height: 10%;
    width: 95%;
    border: 1px solid #b2b2b2;
    border-radius: 0.4vw;
    display: flex;
    margin: 1% auto;

    .iconDiv{
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        .icon{
            color: @listBackButtonBorder;
            margin: auto;
            margin-left: 0.5vw;
        }
    
    }
    
    .input_table_list{
        width: 100%;
        height: 90%;
        font-size: 0.9vw;
        text-indent: 12%;
        outline: none;
        border: none;

    }

}
