// @import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.container{
    // .FontSettings(0.4vw,@mainColor);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: @greyBlue;
    font-size: 1.1rem;
    background: @greyBlue;
    p{
        margin: 1%;
    }
}