@import '~@assets/Colors.less';
.all{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

.icon{
   color:  @checkColor;
   align-self: center;
   text-align: center;
}
.msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5%;
    .first{
        
        font-size: 1rem;
        font-weight: bold;
        color: @RegularBlack;
        text-align: center;
        margin: 0%;
        padding: 3% 0%;
    }
    .second{

        
        font-size: 1rem;
        font-weight: bold;
        color: @HeadersGray;
        text-align: center;
        margin: 0%;
    }
}
}