@import '~@assets/style-settings.less';
@import '~@assets/Colors.less';

.body{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flexContainer{
    width: 100%;
    height: auto;
    margin: auto;
    justify-self: center;
    display: flex;
   
}

.flexbox{
    margin: auto;
    // margin-top: 10%;
    padding: 5% 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content: center;
}