@import "~@assets/style-settings.less";
@import "~@assets/Colors.less";

.icon {
  margin-top: 25px;
}

.selectFlexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.arabic {
  margin: 3%;
  height: 4vw;
  width: 13vw;
  font-weight: bold;
  border-radius: 0.5vw;
  border-width: 0px;
  background-color: white;
  font-family: "Quicksand Light";
  font-size: 1.3vw;
  box-shadow: 0.5px 1.5px #888888;
}

.english {
  margin: 3%;
  height: 4vw;
  width: 13vw;
  font-weight: bold;
  border-radius: 0.5vw;
  border-width: 0px;
  color: white;
  background-color: #30b244;
  font-family: "Quicksand Light";
  font-size: 1.3vw;
  box-shadow: 0.5px 1.5px #888888;
}

.selectLanguage {
  font-size: 2.5vw;
  color: black;
  //   font-weight: bold;
  font-family: "Rockwell Regular";
}

.settingButton {
  background-color: white;
  height: 17vw;
  width: 15vw;
  margin: 2%;
  border-radius: 0.5vw;
  border: solid 1.5px #163558;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3vw;
  font-weight: bold;
  color: #163558;
  white-space: nowrap;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f8ff;
}

.flexContainer {
  width: 100%;
  height: auto;
  margin: auto;
  justify-self: center;
  display: flex;
}

.flexbox {
  margin: auto;
  // margin-top: 10%;
  padding: 5% 15%;
  display: flex;
  //   flex-wrap: wrap;
  flex-direction: row;

  // justify-content: center;
}
