
@import '~@assets/Colors.less';
.above{
  display: flex;
  height: 90%;
.allContainer{
  width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 3%;
    margin: 2%;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
      .title {
        text-align: center;
        font-weight: bold;
        color: @listScroll;
        font-size: 1.5rem;
        margin: 0;
      }
     .picDes{
        display: flex;
        justify-content: center;
        p{
          color:@RegularBlack;
          font-size: 1.1rem;
        }
     }
     .sizeDoneCont{
       display: flex;
       justify-content: space-around;
       height: 35%;
       padding: 1%;
      .sizeContainer{
          align-self: flex-start;
          display: flex;
          flex-direction: column; 
          .p{
            margin: 0;
            color: @listScroll;
            font-size: 1.1rem;
            font-weight: bold;

          } 
          .prices{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 25vw;
            .priceContainer {
              width: 26vw;
              height: 6vh;
              margin-bottom: 2%;
              border:  0.7px solid @VLGray;
              color:@VLGray;
              background-color: white;
              // font-weight: bold;
              // margin-right: 7vw;
              border-radius: 2.5px;
              box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.09);
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              .flexContainer{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                p{
                  font-size: 1rem;
                  margin: 0%;

                  &:nth-child(2){
                    margin-left: 1%;
                  }
                }
              }
            }
            .priceContainer:hover,
            .priceContainer:active {
              border-radius: 3px;
              border: solid 0.8px @listScroll;
              color: @listScroll;
              font-weight: bold;
            }

          }
      
      }
    }


    .devContainer {
      /* top: 60%; */
      height: 24%;
      justify-content: flex-start;
      border-radius: 15px;
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
      background-color: #f3f8ff;
      padding: 2% 3%;
      margin-top: 18px;
      margin-bottom: 3px;
  
  
      .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0%;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
        p {
          font-size: 1.2rem;
          color: black;
          margin: 0%;
        }
      }
      .summary{
  
        .stdiv{
          display: flex;
          align-items: center;
          justify-content: space-between;
        
        .devicons{
          display: flex;
          flex-direction: row;
          .editImg {
            width: 12px;
            height: 15px;
          }
          .miniBtn {
            width: 22.5px;
            height: 22.5px;
            border-radius: 5px;
            background-color: #b7b7b7;
            text-align: center;
            color: white;
            margin-right: 2vw;
          }
        }
        p{
          color: black;
          margin: 0;
        
        }
      }
  
      }
      
    }
    .btnContainer {
      height: 15%;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .back {
        width: 23vw;
        background-color: #b7b7b7;
      }
      .next {
        font-weight: bold;
        width: 43vw;
  
        background-color: #3176cb;
      }
      
      .back,
      .next {
        text-align: center;
        color: white;
        border-radius: 5px;
        height: 8vw;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
      }
      .back:hover,.next:hover {
        background-color: #3176cb;
      }
    }
  }
  .devContainer {
    /* top: 60%; */
    height: 23%;
    justify-content: flex-start;
    border-radius: 15px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #f3f8ff;
    padding: 2% 3%;
    margin: 2%;
  
    .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0%;
      font-size: 1.5rem;
      color: black;
      font-weight: bold;
      p {
        font-size: 1.2rem;
        color: black;
        margin: 0%;
      }
    }
    .summary{
  
      .stdiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1% 0%;
      
      .devicons{
        display: flex;
        flex-direction: row;
        .editImg {
          width: 12px;
          height: 15px;
        }
        .miniBtn {
          width: 22.5px;
          height: 22.5px;
          border-radius: 5px;
          background-color: #b7b7b7;
          text-align: center;
          color: white;
          margin-right: 2vw;
        }
      }
      p{
        color: black;
        margin: 0;
      
      }
    }
  
    }
    
  }
  .options{
    display: flex;
    flex-direction: column;
    padding: 0.8vw;
    min-width: 8%;
    justify-content: space-between;
    width: 100%;
    .selects{
      height: fit-content;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2%;
    }
}
.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .btnCont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
    padding: 0 6%;

    button{
      border-radius: 2.5px;
      font-size: 1rem;
      font-weight: bold;
      color: #ffffff;
      padding: 1%;
      &:nth-child(1){
        width: 15%;
        background-color: #b7b7b7;
      } 
      &:nth-child(2){
        width: 30%;
        background-color: #306ab2;
      } 
    }
  }
  .total_price{
      width: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
      p{
          font-size: 2rem;
          font-weight: 600;
          color: @listScroll;
          margin: 0;
          margin-right: 8%;
      }

      .quantity{
        width: 19%;
        display: flex;
        justify-content: space-between;
        align-items: center;
          button{
            width: 26%;
            border-radius: 50px;
            font-size: 2rem;
            color:@listScroll;
            border: solid 0.5px @listScroll;
            background-color: #ffffff;
            display: flex;
            justify-content: space-around;
            align-items: center;
          }

          p{
              margin: 0;
              font-size: 2rem;
          }
      }
  }

  .cart{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .inner{
          height: 100%;
          width: 10%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .count{
              margin: 0;
              font-size: 1.2rem;                    font-weight: normal;
              color: #306ab2;
          }

          .shopping{
              width: 88%;
              height: 100%;
          }
      }

      button{
        width: 33%;
        border-radius: 12px;
        background-color: #306ab2;
        font-size: 1rem;
        font-weight: bold;
        color: #ffffff;
        margin-top: 1%;
        padding: 1%;
      }
  }
}
}