
@import '~@assets/Colors.less';
.container{
    .alter{
        display: flex;
      
        button{
            width: 8vw;
            margin-bottom: 2%;
            height: 10vh;
            border-radius: 2.5px;
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 1.5px rgba(179, 176, 176, 0.34);
            background-color: #ffffff;
            color: @black;
            font-size: 0.9rem;
            margin-right: 0.5vw;
        }
    }
    .main{
        display: flex;
        button {
            width: 8vw;
            margin-bottom: 2%;
            height: 10vh;
            border-radius: 2.5px;
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 1.5px rgba(179, 176, 176, 0.34);
            background-color: #ffffff;
            color: @black;
            font-size: 0.9rem;
            margin-right: 0.5vw;
        }
        p{
            margin: 0;
            font-size: 0.9rem;
            color: @black;
        }
        
    }
}