@import '~@assets/Colors.less';
    .items{
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            color: @mainColor;
            width: 96%;
            margin: auto;
        }
        .ok{
            display: flex;
            justify-content: flex-end;
            width: 96%;
            margin: 0 auto;
            button{
                background-color: @mainColor;
                color: @WhiteBG;
                height: 8vh;
                width: 9vw;
                border-radius: 5px;
                font-size: 1rem;
                border: none;
            }
        }
    }
  
    
