.selector_row{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    margin: auto;

    .check_div{
        align-self: center;
        height: 65%;
        width: 12%;
        border-radius: 4px;
        border: 1.5px solid;
        display: flex;
        justify-content: space-around;

        .icon{
            align-self: center;
            font-size: 2vh;
        }
    }

    span{
        align-self: center;
        font-size: 1.5vh;
    }

    .icon{
        align-self: center;
        font-size: 2vh;
    }
}

.inrows{
    height: fit-content;

    .ininrow{
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2% 12%;
        margin: auto;

        .outerClass{
            width: 100%;
        }

        .check_div{
            align-self: center;
            height: 65%;
            width: 16%;
            border-radius: 4px;
            border: 1.5px solid !important;
            display: flex;
            justify-content: space-around;

            .icon{
                align-self: center;
                font-size: 2vh;
            }
        }

    }
}