@import '~@assets/Colors.less';

.myContainer{
    padding-top: 12px;
    padding-right: 2.5%;
    padding-left: 1.5%;
    margin-right: auto;
    margin-left: auto;
    background-color: @greyBlue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.Text{
    justify-content: flex-end;
    display: flex;
    margin: 0;
    color: @listScroll;
    font-size: 10px;
}
.logo{
   
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
// .header{
//     display: flex;
//     height: 7%;
//     background-color: @greyBlue;
//     padding: 0.8vh 1.5%;
//     // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
//     margin-bottom: 0.5%;
// }
// .header_TW {
//     height: 7%;
//     background-color: @greyBlue;
//     display: flex;
//     justify-content: space-between;
//     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
//     margin-bottom: 0.5%;
    
//     .header-btn {
//         width: 14.5vw;
//         outline: none;
//     }
// }

// .header_DI{
//     height: 7%;
//     background-color: @greyBlue;
//     display: grid;
//     grid-template-columns: 31% 69%;
//     margin-bottom: 0.5%
// }

// .header_DL{
//     height: 7%;
//     background-color: @greyBlue;
//     display: grid;
//     grid-template-columns: 45% 55%;
//     margin-bottom: 0.5%
// }








 