@import '~@assets/Colors.less';

.container{
    padding: 4%;
    margin: 0;
    height: 26vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: '1.5px solid #d73f7c' ;

    .title{
        height: 20%;
        display: flex;
        justify-content: space-around;

        p{
            margin: 0;
            align-self: center;
            font-size: 1.5rem;
            color: @RegularBlack;
            
            font-weight: bold;
        }
    }

    .content{
        height: 40%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        p{
            margin: 0;
            text-align: center;
            align-self: center;
            font-size: 1rem;
            color: @HeadersGray;
            
        }
    }
}