.container{
    padding: 5%;
    display: flex;
    flex-direction: column;

    p{
        color: #000000;
        
        font-size: 1.2rem;
        margin: 0 auto;
        text-align: center;

    }
    .btnsDiv{
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 2%;
        text-align: center;
        padding: 5% 0%;
        button{
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 0.5px rgba(179, 176, 176, 0.34);
            background-image: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
            color:#090505;
            border-radius: 20px;
            width: 32%;
            height: 6vh;
            color: #090505;
            
            font-size: 1.1rem;
            margin: 0;
        }
        button:focus{
            outline: 0;
        }
    }
    button{
        border-radius: 5px;
        box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
        border: solid 0.5px rgba(179, 176, 176, 0.34);
        background-image: linear-gradient(to bottom, #ffffff, #efefef);
        width: 75%;
        margin: 0 auto;
        font-size: 1.1rem;
        height: 6vh;
        color: #d73f7c;
        
        font-size: 1.1rem;
        .icon{
            color: #d73f7c
        }
    }
}