@import '~@assets/Colors.less';
@import '~@assets/Colors.less';
// .menu{
//     margin-left: .1rem
// }
// .cat{
//     margin-left: .2rem
// }
// .items{
//     margin-left: .3rem
// }
.table{
    width: 100%;
    th{

        font-family: Lora;
        font-size: 0.8rem;
        text-align: left;
        color: @RegularBlack;
        &:nth-child(1){
          text-align: center;
        }
        
    }
    tbody{
        tr{
        width: 100%;
        .depName{ 
            font-family: Lora;
            font-size: 0.9rem;
            text-align: left;
            color: @RegularBlack;
            font-weight: bold;
        }
        td{
            font-family:Tahoma;
            font-size: 0.8rem;
            color: @RegularBlack;
            // text-align: center;
        }
    }
    }
  
}