@import '~@assets/Colors.less';
:global {
    .key_style {

        background-color: rgba(0,0,0,0) !important; 
        
    }
    
    .hg-button{
    
        width: 3vw !important;
        height: 7vh !important;
        /* background-color: linear-gradient(to bottom, #ffffff, #f4f4f4) !important; */
        color: #d73f7c !important;
        border-radius: 5.5px  !important;;
        box-shadow: 0 1px 2px 0 rgba(153, 105, 105, 0.2) !important;
        border: solid 0.5px #e0e0e0 !important;
        background-image: linear-gradient(to bottom, #ffffff, #f7f7f7) !important;
        font-family: NunitoSans !important;
        font-size: 1rem !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    .hg-button:hover{
        background-image: linear-gradient(to bottom, #d73f7c, #d73f7c) !important;
        color: #ffffff !important;
        font-weight: bold !important;
        
    }
    
    .hg-button-enter{
    
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)!important;
        background-image: linear-gradient(to bottom, #ffffff, #ffffff)!important;
        color: #d73f7c !important;
    }
    
}