@import '~@assets/Colors.less';

.moveSeatContiner{
    display: flex;
    flex-direction: column;
    button{
        margin-bottom: 2%;
            height: 7vh;
            border-radius: 2.5px;
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 1.5px rgba(179, 176, 176, 0.34);
            background-color: #ffffff;
            color:#000000;
            font-size: 1.5rem;
            
    }
    .btnsContanier{
        display: flex;
        justify-content: flex-start;
        width:100%;
        flex-wrap: wrap;
        button{
            width: 45%;
            margin-bottom: 2%;
            height: 7vh;
            border-radius: 2.5px;
            box-shadow: 0 0 2px 0 rgba(80, 80, 80, 0.28);
            border: solid 1.5px rgba(179, 176, 176, 0.34);
            background-color: #ffffff;
            color:#000000;
            font-size: 1.5rem;
            
            &:nth-child(odd){
                margin-right: 10%;
            }
        }
       

    }
    .checkbox{
        margin: 0 auto;
        display: flex;
        width:50%;
        justify-content: space-around;
    }
}
.title{
    color: @mainColor;
    font-size: 1.5rem;
    
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 55%;
    margin-bottom: 3%;
}
.seatTitle{
    color: #707070;
    font-size: 1.3rem;
    
    font-weight: bold;
    text-align: left;
    margin-bottom: 3%;
}
.compined{
    color: @mainColor;
    font-size: 1.1rem;
    
    font-weight: bold;
    margin: 0;
}
